/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 7, ../../../app/stylesheets/layout.sass */
body {
  margin-top: 0;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}

/* line 11, ../../../app/stylesheets/layout.sass */
li {
  display: block;
}
/* line 13, ../../../app/stylesheets/layout.sass */
li a {
  text-decoration: none;
}

/* line 16, ../../../app/stylesheets/layout.sass */
a {
  color: black;
}

/* line 19, ../../../app/stylesheets/layout.sass */
h1 {
  font-size: 30px;
}

/* line 21, ../../../app/stylesheets/layout.sass */
h2 {
  font-size: 20px;
}

/* line 24, ../../../app/stylesheets/layout.sass */
.container {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 27, ../../../app/stylesheets/layout.sass */
.top-container {
  display: inline;
  float: left;
  margin-right: 0;
  width: 990px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .top-container {
  overflow-x: hidden;
}
/* line 29, ../../../app/stylesheets/layout.sass */
.top-container #header {
  height: 80px;
  border: 1px dashed #aaaaaa;
  margin-bottom: 20px;
}
/* line 33, ../../../app/stylesheets/layout.sass */
.top-container .logo {
  float: left;
}
/* line 35, ../../../app/stylesheets/layout.sass */
.top-container .logo a {
  color: black;
  font-size: 30px;
  padding: 20px;
}
/* line 39, ../../../app/stylesheets/layout.sass */
.top-container .account {
  float: right;
  padding: 20px;
}
/* line 42, ../../../app/stylesheets/layout.sass */
.top-container .account a {
  float: left;
  margin-left: 10px;
}

/* line 46, ../../../app/stylesheets/layout.sass */
.main-container {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 750px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main-container {
  overflow-x: hidden;
}

/* line 48, ../../../app/stylesheets/layout.sass */
.right-container {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p290@plistv/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .right-container {
  overflow-x: hidden;
}

/* line 51, ../../../app/stylesheets/layout.sass */
#main, #right {
  min-height: 800px;
}

/* line 56, ../../../app/stylesheets/layout.sass */
#main .main-content {
  padding: 10px;
}

/* line 59, ../../../app/stylesheets/layout.sass */
#coupons-counter {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border: 1px solid #aaaaaa;
  padding: 15px 0;
  margin-bottom: 10px;
}
/* line 61, ../../../app/stylesheets/layout.sass */
#coupons-counter .count {
  font-size: 30px;
}
/* line 63, ../../../app/stylesheets/layout.sass */
#coupons-counter p {
  text-align: center;
}

/* line 66, ../../../app/stylesheets/layout.sass */
#email-updates {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border: 1px solid #aaaaaa;
  padding: 15px 0;
  margin-bottom: 10px;
}
/* line 68, ../../../app/stylesheets/layout.sass */
#email-updates a, #email-updates p {
  display: block;
  text-align: center;
}

/* line 72, ../../../app/stylesheets/layout.sass */
#new_mail_update {
  border: 1px solid #aaaaaa;
  background-color: #eeeeee;
}

/* line 76, ../../../app/stylesheets/layout.sass */
#overall-trending {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border: 1px solid #aaaaaa;
  padding: 15px 0;
  margin-bottom: 10px;
}
/* line 78, ../../../app/stylesheets/layout.sass */
#overall-trending .label {
  text-align: center;
}
/* line 80, ../../../app/stylesheets/layout.sass */
#overall-trending li a {
  display: block;
  font-size: 13px;
  padding: 10px;
  text-decoration: underline;
}
/* line 85, ../../../app/stylesheets/layout.sass */
#overall-trending .see-chart-btn {
  float: right;
  margin-top: -10px;
  margin-right: 10px;
  font-size: 13px;
  color: blue;
}

/* line 13, ../../../app/stylesheets/styles.sass */
#player-e {
/*  margin-left: 40px;*/
  position: absolute;
  z-index: 0;
}

/* line 20, ../../../app/stylesheets/styles.sass */
.top {
  background-color: black;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* line 27, ../../../app/stylesheets/styles.sass */
.wrapper-top {
  width: 998px;
  margin: 0 auto;
}

/* line 31, ../../../app/stylesheets/styles.sass */
.search {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
}
/* line 35, ../../../app/stylesheets/styles.sass */
.search input {
  border: 0;
  height: 21px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-left: 5px;
  font-size: 13px;
  color: #aaaaaa;
  float: left;
}
/* line 43, ../../../app/stylesheets/styles.sass */
.search a {
  color: white;
  background-color: #aaaaaa;
  padding: 3px 5px;
  font-size: 13px;
  text-decoration: none;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  float: right;
  margin-top: 0px;
  margin-left: 5px;
}

/* line 53, ../../../app/stylesheets/styles.sass */
.account {
  padding: 5px;
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  position: relative;
}
/* line 60, ../../../app/stylesheets/styles.sass */
.account:hover, .account.on {
  background-color: #666666;
}
/* line 62, ../../../app/stylesheets/styles.sass */
.account .member, .account .sign-in {
  color: #aaaaaa;
  font-size: 13px;
  text-decoration: none;
  margin-top: 2px;
}
/* line 67, ../../../app/stylesheets/styles.sass */
.account .member .label, .account .sign-in .label {
  float: left;
}
/* line 69, ../../../app/stylesheets/styles.sass */
.account .member .icon, .account .sign-in .icon {
  width: 9px;
  height: 4px;
  background: url(/images/drop.png) no-repeat -15px -14px;
  margin-left: 4px;
  margin-top: 7px;
  float: right;
}
/* line 76, ../../../app/stylesheets/styles.sass */
.account .member:hover, .account .sign-in:hover {
  text-decoration: underline;
}
/* line 78, ../../../app/stylesheets/styles.sass */
.account .fb-login, .account .img, .account .member {
  float: right;
}
/* line 80, ../../../app/stylesheets/styles.sass */
.account .img {
  margin-right: 5px;
}
/* line 82, ../../../app/stylesheets/styles.sass */
.account .dropdown {
  background-color: black;
/*  height: 80px;*/
  padding: 0px 0px 5px 0px;
  position: absolute;
  right: -8px;
  top: 35px;
  width: 120px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 90, ../../../app/stylesheets/styles.sass */
.account .dropdown a {
  color: #aaaaaa;
  font-size: 13px;
  display: block;
  margin-left: 10px;
  margin-top: 8px;
  text-decoration: none;
}

/* line 98, ../../../app/stylesheets/styles.sass */
#logo {
  float: left;
}
/* line 99, ../../../app/stylesheets/styles.sass */
#logo a {
  color: white;
  text-decoration: none;
}

/* line 107, ../../../app/stylesheets/styles.sass */
#left {
  width: 284px;
  margin-right: 10px;
  float: left;
}

/* line 115, ../../../app/stylesheets/styles.sass */
#content {
  width: 998px;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 119, ../../../app/stylesheets/styles.sass */
#content .wrapper-content {
  float: left;
  margin-bottom: 50px;
}
/* line 122, ../../../app/stylesheets/styles.sass */
#content .wrapper-main {
  padding: 0 30px;
}
/* line 124, ../../../app/stylesheets/styles.sass */
#content .header {
  float: left;
  padding: 10px 0;
}
/* line 127, ../../../app/stylesheets/styles.sass */
#content .header h1 {
  font-family: "league-gothic-1", "league-gothic-2", sans-serif;
  font-size: 25px;
  font-weight: 900;
  float: left;
}
/* line 132, ../../../app/stylesheets/styles.sass */
#content .header h1.edit {
  border: 1px solid #aaaaaa;
  padding: 5px 10px;
}
/* line 135, ../../../app/stylesheets/styles.sass */
#content .header .member-thumb, #content .header .info {
  float: left;
}
/* line 137, ../../../app/stylesheets/styles.sass */
#content .header .info {
  margin-left: 10px;
  font-size: 13px;
  color: #666666;
  position: relative;
  width: 500px;
}
/* line 143, ../../../app/stylesheets/styles.sass */
#content .header .edit-title-notice {
  font-size: 11px;
  position: absolute;
  right: -105px;
  top: 10px;
}
/* line 148, ../../../app/stylesheets/styles.sass */
#content .header input.title-edit {
  font-size: 25px;
  float: left;
}
/* line 151, ../../../app/stylesheets/styles.sass */
#content .header .by {
  float: left;
  clear: left;
}
/* line 154, ../../../app/stylesheets/styles.sass */
#content .header .by a {
  color: #5151e8;
  font-weight: 900;
  text-decoration: none;
}
/* line 158, ../../../app/stylesheets/styles.sass */
#content .header .manage {
  float: left;
  position: relative;
}
/* line 161, ../../../app/stylesheets/styles.sass */
#content .header .manage a {
  border-right: 1px solid #aaaaaa;
  margin-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
/* line 166, ../../../app/stylesheets/styles.sass */
#content .header .manage a.add {
  border: 0;
}
/* line 168, ../../../app/stylesheets/styles.sass */
#content .header .manage a.show.on {
  border: 0;
  padding: 5px 10px;
  color: white;
  background: #666666;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  float: left;
}
/* line 175, ../../../app/stylesheets/styles.sass */
#content .header .add-playlist {
  display: none;
  position: absolute;
  top: 20px;
  left: 100px;
  width: 200px;
  z-index: 2000;
  border: 2px solid black;
  background-color: white;
  padding: 10px 15px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 186, ../../../app/stylesheets/styles.sass */
#content .header .add-playlist .label {
  float: left;
  margin-bottom: 2px;
}
/* line 189, ../../../app/stylesheets/styles.sass */
#content .header .add-playlist a {
  border: 0;
}
/* line 191, ../../../app/stylesheets/styles.sass */
#content .header .created-at {
  float: left;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #666666;
}
/* line 196, ../../../app/stylesheets/styles.sass */
#content .header .member-thumb {
  width: 50px;
  height: 50px;
  border: 1px solid #aaaaaa;
  padding: 5px;
  background: white;
}

/* line 203, ../../../app/stylesheets/styles.sass */
#playlist a.more-videos {
  padding: 5px 10px;
  background-color: #666666;
  color: white;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  float: left;
  margin-left: 450px;
}
/* line 210, ../../../app/stylesheets/styles.sass */
#playlist ul {
/*  float: left;*/
/*  width: 100%;*/
  margin-top: 35px;
  width: 460px;
}

#playlist ul .cmDiv ul {
  margin: 0px;
  width: 150px;
}

#playlist .cmDiv ul li a {
  background-color: transparent;
}

#playlist .cmDiv ul li a:hover {
  background-color: #aaa;
}


#playlist ul .actions_menu {
  float: none;
}

/* line 214, ../../../app/stylesheets/styles.sass */
#playlist li.video-item {
  position: relative;
/*  float: left;*/
  overflow:visible;
  width: 459px;
  margin: 3px 0;
  height: 57px;
  border: 1px solid #aaaaaa;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 217, ../../../app/stylesheets/styles.sass */
#playlist li.video-item.playing a, #playlist li.video-item.playing a:hover {
  border-color: red;
  background-color: #ffc7c7;
}
/* line 224, ../../../app/stylesheets/styles.sass */
#playlist li.video-item a {
  background-color: white;
/*  float: left;*/
  width: 95%;
  height: 57px;
}

#playlist li.video-item .cmDiv a {
  float: none;
}
/* line 225, ../../../app/stylesheets/styles.sass */
#playlist li.video-item a:hover {
  background-color: #f1f2f2;
}
/* line 232, ../../../app/stylesheets/styles.sass */
#playlist li.video-item .thumb, #playlist li.video-item .name {
  float: left;
}
/* line 234, ../../../app/stylesheets/styles.sass */
#playlist li.video-item .name, #playlist li.video-item .close {
  margin-top: 16px;
  font-size: 12px;
}
/* line 237, ../../../app/stylesheets/styles.sass */
#playlist li.video-item .close:hover {
  text-decoration: underline;
  color: red;
}
/* line 240, ../../../app/stylesheets/styles.sass */
#playlist li.video-item .name {
  white-space: pre-wrap;
  width: 320px;
  overflow: hidden;
}
/* line 243, ../../../app/stylesheets/styles.sass */
#playlist li.video-item .close {
  float: right;
  margin-right: 10px;
}
/* line 246, ../../../app/stylesheets/styles.sass */
#playlist li.video-item .thumb {
  margin-right: 40px;
  width: 60px;
  height: 45px;
}
/* line 251, ../../../app/stylesheets/styles.sass */
#playlist li.video-item .thumb img {
  border: 0;
}
/* line 253, ../../../app/stylesheets/styles.sass */
#playlist li.video-item a.add-to-playlist {
  display: none;
  padding: 0px 2px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border: 1px solid black;
  font-size: 14px;
  background-color: white;
  position: absolute;
  right: 25px;
  top: 15px;
  width: auto;
}

/* line 265, ../../../app/stylesheets/styles.sass */
.playlist-item {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #00665e;
  padding: 2px;
  background-color: white;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
/* line 273, ../../../app/stylesheets/styles.sass */
.playlist-item .title, .playlist-item .thumb {
  float: left;
}
/* line 275, ../../../app/stylesheets/styles.sass */
.playlist-item .title {
  margin-left: 5px;
  color: #00665e;
  font-size: 14px;
}
/* line 280, ../../../app/stylesheets/styles.sass */
.playlist-item a.pl-info {
  float: left;
  width: 100%;
}
/* line 283, ../../../app/stylesheets/styles.sass */
.playlist-item .delete {
  float: right;
  margin-top: 13px;
  font-size: 11px;
  margin-right: 5px;
}
/* line 288, ../../../app/stylesheets/styles.sass */
.playlist-item .delete:hover {
  color: red;
  font-weight: 900;
}
/* line 291, ../../../app/stylesheets/styles.sass */
.playlist-item.on, .playlist-item:hover {
  background-color: #61d8a2;
}
/* line 293, ../../../app/stylesheets/styles.sass */
.playlist-item.on a, .playlist-item.on span, .playlist-item:hover a, .playlist-item:hover span {
  color: white;
}
/* line 295, ../../../app/stylesheets/styles.sass */
.playlist-item.on {
  background-color: #ffb800;
  border-color: #ff6f00;
}
/* line 299, ../../../app/stylesheets/styles.sass */
.playlist-item.new {
  background-color: white;
  position: relative;
  border: 2px solid #0969a2;
  margin-left: -1px;
}
/* line 304, ../../../app/stylesheets/styles.sass */
.playlist-item.new input {
  border: 1px solid #0969a2;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  margin-left: 10px;
  width: 145px;
}
/* line 309, ../../../app/stylesheets/styles.sass */
.playlist-item.new .edit {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
/* line 313, ../../../app/stylesheets/styles.sass */
.playlist-item.new .ok, .playlist-item.new .cancel {
  color: #0969a2;
  text-decoration: underline;
  font-size: 12px;
  float: left;
  padding: 0 5px;
}

/* line 320, ../../../app/stylesheets/styles.sass */
#playlists {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 0px;
  width: 410px;
  background-color: white;
  border: 2px solid;
  padding: 5px 5px 0 10px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 330, ../../../app/stylesheets/styles.sass */
#playlists ul {
  width: 400px;
}
/* line 333, ../../../app/stylesheets/styles.sass */
#playlists #add-playlist-btn {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 337, ../../../app/stylesheets/styles.sass */
#playlists #add-playlist-btn a {
  color: white;
  background-color: #0969a2;
  padding: 5px 10px;
  text-decoration: none;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 344, ../../../app/stylesheets/styles.sass */
#playlists #add-playlist-btn.on a {
  background-color: #0969a2;
}

/* line 347, ../../../app/stylesheets/styles.sass */
#add-to-playlist-menu {
  z-index: 1000;
  width: 350px;
  padding: 5px;
  padding-right: 15px;
  background-color: white;
  border: 1px solid #aaaaaa;
  right: 45px;
}
/* line 356, ../../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item {
  border: 0;
  border-bottom: 1px solid #aaaaaa;
}
/* line 359, ../../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item.on {
  background-color: white;
}
/* line 361, ../../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item:hover {
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  background-color: #f1f2f2;
}
/* line 365, ../../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item a {
  border: none;
  background: none;
}
/* line 368, ../../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item a .title {
  font-size: 12px;
  color: black;
  margin-top: 15px;
}
/* line 372, ../../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item .thumb {
  width: 45px;
  height: 34px;
}

/* line 376, ../../../app/stylesheets/styles.sass */
#add-video, #search-yt-video {
  background-color: black;
  padding: 3px;
  float: left;
  margin: 0 0 2px;
  width: 454px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 381, ../../../app/stylesheets/styles.sass */
#add-video input {
  height: 16px;
  width: 380px;
  margin-right: 10px;
  font-size: 14px;
  float: left;
}

#search-yt-video input {
  height: 16px;
  width: 346px;
  margin-right: 10px;
  font-size: 14px;
  float: left;
}
/* line 388, ../../../app/stylesheets/styles.sass */
#add-video input.empty, #search-yt-video input.empty {
  font-style: italic;
  color: #cccccc;
}
/* line 391, ../../../app/stylesheets/styles.sass */
#add-video .add-btn, #search-yt-video .add-btn {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  color: white;
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

/* line 398, ../../../app/stylesheets/styles.sass */
#ajax-loader {
  position: fixed;
  display: none;
  margin-left: -50px;
  width: 120px;
  height: 20px;
  background-color: white;
  padding: 3px 12px;
  top: 0;
  left: 50%;
  z-index: 200;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 410, ../../../app/stylesheets/styles.sass */
#ajax-loader .label {
  font-size: 13px;
}
/* line 412, ../../../app/stylesheets/styles.sass */
#ajax-loader .loader {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 2px;
  float: left;
  background: url(/images/ajax-loader.gif) no-repeat 0 0;
}

/* line 420, ../../../app/stylesheets/styles.sass */
#message-loader {
  position: fixed;
  margin-left: -50px;
  width: 200px;
  height: 20px;
  background-color: white;
  padding: 3px 12px;
  top: 0;
  left: 50%;
  z-index: 200;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 431, ../../../app/stylesheets/styles.sass */
#message-loader .label {
  font-size: 13px;
}
/* line 433, ../../../app/stylesheets/styles.sass */
#message-loader .loader {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 2px;
  float: left;
  background: url(/images/ajax-loader.gif) no-repeat 0 0;
}

/* line 441, ../../../app/stylesheets/styles.sass */
.share {
  float: right;
  margin-left: 20px;
  margin-top: 40px;
}
/* line 445, ../../../app/stylesheets/styles.sass */
.share .fb-like, .share .twitter {
  float: left;
}

/* line 448, ../../../app/stylesheets/styles.sass */
#comments {
  float: left;
  margin-top: 20px;
}
/* line 451, ../../../app/stylesheets/styles.sass */
#comments h2 {
  font-weight: 900;
  margin-bottom: 10px;
}

/* line 456, ../../../app/stylesheets/styles.sass */
#suggestions .wrapper-suggestions {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
/* line 460, ../../../app/stylesheets/styles.sass */
#suggestions h2 {
  font-weight: 900;
  float: left;
  margin-bottom: 10px;
}
/* line 464, ../../../app/stylesheets/styles.sass */
#suggestions ul {
  float: left;
  width: 100%;
  border: 1px solid black;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
/* line 469, ../../../app/stylesheets/styles.sass */
#suggestions li {
  margin: 5px;
  border: 1px solid #aaaaaa;
  float: left;
  width: 222px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
/* line 475, ../../../app/stylesheets/styles.sass */
#suggestions li a.info {
  float: left;
  padding: 5px 10px;
  display: block;
}
/* line 479, ../../../app/stylesheets/styles.sass */
#suggestions .name {
  font-size: 12px;
  float: left;
  width: 130px;
  margin-left: 10px;
}
/* line 484, ../../../app/stylesheets/styles.sass */
#suggestions .thumb {
  float: left;
}
/* line 486, ../../../app/stylesheets/styles.sass */
#suggestions .by {
  clear: left;
  font-size: 12px;
  float: left;
  width: 100%;
  padding: 5px 10px;
}
/* line 492, ../../../app/stylesheets/styles.sass */
#suggestions .by .label {
  margin-bottom: 2px;
}
/* line 494, ../../../app/stylesheets/styles.sass */
#suggestions .by img, #suggestions .by a, #suggestions .by .label {
  float: left;
}
/* line 496, ../../../app/stylesheets/styles.sass */
#suggestions .by img {
  clear: left;
}
/* line 498, ../../../app/stylesheets/styles.sass */
#suggestions .by a {
  margin-left: 5px;
}
/* line 500, ../../../app/stylesheets/styles.sass */
#suggestions .add {
  font-size: 11px;
  clear: left;
  float: right;
  color: blue;
  text-decoration: underline;
  padding: 5px;
}

/* line 510, ../../../app/stylesheets/styles.sass */
.home .create-playlist {
  font-size: 20px;
  color: white;
  background-color: #666666;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  text-align: center;
  padding: 10px 30px;
  display: block;
  float: left;
  margin-left: 310px;
  margin-top: 20px;
}
/* line 521, ../../../app/stylesheets/styles.sass */
.home .recent-playlists {
  clear: left;
  float: left;
  width: 100%;
  margin-top: 20px;
}
/* line 526, ../../../app/stylesheets/styles.sass */
.home .recent-playlists h2 {
  font-weight: 900;
  margin-bottom: 10px;
}
/* line 530, ../../../app/stylesheets/styles.sass */
.home .recent-playlists li {
  float: left;
  padding: 5px 10px;
  border: 1px solid #aaaaaa;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 420px;
}
/* line 538, ../../../app/stylesheets/styles.sass */
.home .recent-playlists li .thumb {
  width: 60px;
  height: 45px;
  float: left;
  border: 1px solid #aaaaaa;
}
/* line 543, ../../../app/stylesheets/styles.sass */
.home .recent-playlists li .thumb a {
  border: 0;
}
/* line 545, ../../../app/stylesheets/styles.sass */
.home .recent-playlists li .title {
  float: left;
  margin-left: 5px;
  text-decoration: underline;
}
/* line 549, ../../../app/stylesheets/styles.sass */
.home .recent-playlists li .member {
  float: left;
  clear: left;
  margin-top: 5px;
}
/* line 553, ../../../app/stylesheets/styles.sass */
.home .recent-playlists li .member .member-thumb {
  width: 30px;
  height: 30px;
  float: left;
}
/* line 557, ../../../app/stylesheets/styles.sass */
.home .recent-playlists li .member .member-name {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  color: blue;
}

/* line 562, ../../../app/stylesheets/styles.sass */
.left {
  float: left;
}

/* line 565, ../../../app/stylesheets/styles.sass */
#change-members-list {
  position: absolute;
  display: none;
  width: 300px;
  border: 1px solid black;
  overflow: hidden;
}
/* line 571, ../../../app/stylesheets/styles.sass */
#change-members-list .li {
  border-bottom: 1px solid black;
}

/* line 573, ../../../app/stylesheets/styles.sass */
#change-playlists-list {
  display: none;
  width: 300px;
  border: 1px solid black;
}
/* line 577, ../../../app/stylesheets/styles.sass */
#change-playlists-list .li {
  border-bottom: 1px solid black;
}

.playlist-title {
  font-size: 24px;
}

.right {
  float:right;
}

.login-form, .sign-up-form {
  display:none;
}

#video-list-tabs ul.tab-header li {
  float: left;
  margin: 2px 5px;
  font-size: 18px;
}

/*
.ui-tabs { position: relative; padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; margin: 1px .2em 0 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
*/

#video-list-tabs {
  width: 960px;
}

#video-list-tabs .video-list-column {
  float: left;
  width: 460px;
}

#video-list-tabs  .video-list-column:nth-child(2) {
  margin: 0px 0px 0px 20px;
}



a.browse {
	background:url(/images//hori_large.png) no-repeat;
  display:inline;
  width:15px;
  height:15px;
  float: left;

	cursor:pointer;
  font-size:1px;
  position: relative;
}

/* right */
a.right 				{ background-position: 0 -15px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-15px -15px; }
a.right:active 	{ background-position:-30px -15px; }


/* left */
a.left				{ margin-left: 0px; }
a.left:hover  		{ background-position:-15px 0; }
a.left:active  	{ background-position:-30px 0; }


.options-button {
  margin: 0px 0px 0px 10px;
  height: 26px;
}

.options-form {
  display: none;
}

#login-user-playlists {
  margin-left: 100px;
  background-color: black;
  padding: 0 0 5px;
  position: absolute;
  right: -120px;
  top: 30px;
  width: 120px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;

}

#login-user-playlists li {
  border-bottom: 1px solid #333;
}

.my-playlists #login-user-playlists {
  display: none;
}
.my-playlists:hover #login-user-playlists {
  display: block;
}

.add-playlist-form {
  display: none;
}