/* line 4, /Users/vladimirpenkin/.rvm/gems/ruby-1.9.2-p290@plist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, /Users/vladimirpenkin/.rvm/gems/ruby-1.9.2-p290@plist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/vladimirpenkin/.rvm/gems/ruby-1.9.2-p290@plist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, /Users/vladimirpenkin/.rvm/gems/ruby-1.9.2-p290@plist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, /Users/vladimirpenkin/.rvm/gems/ruby-1.9.2-p290@plist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, /Users/vladimirpenkin/.rvm/gems/ruby-1.9.2-p290@plist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, /Users/vladimirpenkin/.rvm/gems/ruby-1.9.2-p290@plist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, /Users/vladimirpenkin/.rvm/gems/ruby-1.9.2-p290@plist/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 7, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
body {
  margin-top: 0;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}

/* line 11, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
li {
  display: block;
}
/* line 13, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
li a {
  text-decoration: none;
}

/* line 16, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
a {
  color: black;
}

/* line 19, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
h1 {
  font-size: 30px;
}

/* line 21, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
h2 {
  font-size: 20px;
}

/* line 24, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 28, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.top-container #header {
  height: 80px;
  border: 1px dashed #aaaaaa;
  margin-bottom: 20px;
}
/* line 32, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.top-container .logo {
  float: left;
}
/* line 34, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.top-container .logo a {
  color: black;
  font-size: 30px;
  padding: 20px;
}
/* line 38, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.top-container .account {
  float: right;
  padding: 20px;
}
/* line 41, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.top-container .account a {
  float: left;
  margin-left: 10px;
}

/* line 45, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.main-container {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 750px;
}

/* line 52, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
#main, #right {
  min-height: 800px;
}

/* line 55, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
#main .main-content {
  padding: 10px;
}

/* line 59, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.filter-youtube-form {
  display: none;
}

/* line 62, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.clear {
  clear: both;
}

/* line 65, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.txtPassword {
  display: none;
}

/* line 68, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
.txtConfirmPassword {
  display: none;
}

/* line 71, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
table.featured {
  font-size: 12px;
  border: 1px solid #e7e7e7;
  width: 700px;
}
/* line 75, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
table.featured td {
  padding: 5px 5px;
  border-bottom: 1px solid #e7e7e7;
}
/* line 78, /Users/vladimirpenkin/Sites/plist/app/stylesheets/layout.sass */
table.featured .promote {
  background-color: rgba(0, 0, 255, 0.1);
}

/* line 1, ../../app/stylesheets/styles.sass */
#player-e {
  /*  margin-left: 40px; */
  position: absolute;
  z-index: 0;
}

/* line 6, ../../app/stylesheets/styles.sass */
.top {
  background-color: black;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* line 13, ../../app/stylesheets/styles.sass */
.wrapper-top {
  width: 998px;
  margin: 0 auto;
}

/* line 17, ../../app/stylesheets/styles.sass */
.search {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
}
/* line 21, ../../app/stylesheets/styles.sass */
.search input {
  border: 0;
  height: 21px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-left: 5px;
  font-size: 13px;
  color: #aaaaaa;
  float: left;
}
/* line 36, ../../app/stylesheets/styles.sass */
.search a {
  color: white;
  background-color: #aaaaaa;
  padding: 3px 5px;
  font-size: 13px;
  text-decoration: none;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  float: right;
  margin-top: 0px;
  margin-left: 5px;
}

/* line 54, ../../app/stylesheets/styles.sass */
.account {
  padding: 5px;
  float: right;
  margin-right: 76px;
  margin-top: 5px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  position: relative;
  color: #aaaaaa;
}
/* line 69, ../../app/stylesheets/styles.sass */
.account:hover, .account.on {
  /*  background-color: #666666; */
}
/* line 71, ../../app/stylesheets/styles.sass */
.account .member, .account .sign-in, .account .sign-up-link {
  color: #aaaaaa;
  font-size: 13px;
  text-decoration: none;
  margin-top: 2px;
}
/* line 76, ../../app/stylesheets/styles.sass */
.account .sign-in {
  margin-left: 10px;
}
/* line 78, ../../app/stylesheets/styles.sass */
.account .member .label, .account .sign-in .label {
  float: left;
}
/* line 80, ../../app/stylesheets/styles.sass */
.account .member .icon, .account .sign-in .icon {
  width: 9px;
  height: 4px;
  background: url(/images/drop.png) no-repeat -15px -14px;
  margin-left: 4px;
  margin-top: 7px;
  float: right;
}
/* line 87, ../../app/stylesheets/styles.sass */
.account .member:hover, .account .sign-in:hover, .account .sign-up-link:hover {
  text-decoration: underline;
}
/* line 89, ../../app/stylesheets/styles.sass */
.account .fb-login, .account .img, .account .member {
  float: right;
}
/* line 91, ../../app/stylesheets/styles.sass */
.account .img {
  margin-right: 5px;
}
/* line 93, ../../app/stylesheets/styles.sass */
.account .dropdown {
  background-color: black;
  /*  height: 80px; */
  padding: 0px 0px 5px 0px;
  position: absolute;
  right: -8px;
  top: 35px;
  width: 120px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 109, ../../app/stylesheets/styles.sass */
.account .dropdown a {
  color: #aaaaaa;
  font-size: 13px;
  display: block;
  margin-left: 10px;
  margin-top: 8px;
  text-decoration: none;
}

/* line 117, ../../app/stylesheets/styles.sass */
#logo {
  float: left;
}
/* line 119, ../../app/stylesheets/styles.sass */
#logo a {
  color: white;
  text-decoration: none;
}

/* line 123, ../../app/stylesheets/styles.sass */
#left {
  width: 284px;
  margin-right: 10px;
  float: left;
}

/* line 128, ../../app/stylesheets/styles.sass */
#content {
  width: 998px;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 132, ../../app/stylesheets/styles.sass */
#content .wrapper-content {
  float: left;
  margin-bottom: 50px;
}
/* line 135, ../../app/stylesheets/styles.sass */
#content .wrapper-main {
  padding: 0 30px;
}
/* line 137, ../../app/stylesheets/styles.sass */
#content .header {
  float: none;
  padding: 0px 0px 5px 0px;
}
/* line 140, ../../app/stylesheets/styles.sass */
#content .header h1 {
  font-family: "league-gothic-1", "league-gothic-2", sans-serif;
  font-size: 25px;
  font-weight: 900;
  float: left;
}
/* line 145, ../../app/stylesheets/styles.sass */
#content .header h1.edit {
  border: 1px solid #aaaaaa;
  padding: 5px 10px;
}
/* line 148, ../../app/stylesheets/styles.sass */
#content .header .member-thumb {
  /*  float: left; */
}
/* line 150, ../../app/stylesheets/styles.sass */
#content .header .info {
  /*  float: left; */
  /*  margin-left: 10px; */
  font-size: 13px;
  color: #666666;
  position: relative;
  /*  width: 940px; */
  /*  height: 5px; */
}
/* line 158, ../../app/stylesheets/styles.sass */
#content .header .edit-title-notice {
  font-size: 11px;
  position: absolute;
  right: -105px;
  top: 10px;
}
/* line 163, ../../app/stylesheets/styles.sass */
#content .header input.title-edit {
  font-size: 25px;
  float: left;
}
/* line 166, ../../app/stylesheets/styles.sass */
#content .header .by {
  float: left;
  clear: left;
}
/* line 169, ../../app/stylesheets/styles.sass */
#content .header .by a {
  color: #5151e8;
  font-weight: 900;
  text-decoration: none;
}
/* line 173, ../../app/stylesheets/styles.sass */
#content .header .manage {
  float: left;
  position: relative;
}
/* line 176, ../../app/stylesheets/styles.sass */
#content .header .manage a {
  border-right: 1px solid #aaaaaa;
  margin-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
/* line 181, ../../app/stylesheets/styles.sass */
#content .header .manage a.add {
  border: 0;
}
/* line 183, ../../app/stylesheets/styles.sass */
#content .header .manage a.show.on {
  border: 0;
  padding: 5px 10px;
  color: white;
  background: #666666;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  float: left;
}
/* line 197, ../../app/stylesheets/styles.sass */
#content .header .add-playlist {
  display: none;
  position: absolute;
  top: 20px;
  left: 100px;
  width: 200px;
  z-index: 2000;
  border: 2px solid black;
  background-color: white;
  padding: 10px 15px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 215, ../../app/stylesheets/styles.sass */
#content .header .add-playlist .label {
  float: left;
  margin-bottom: 2px;
}
/* line 218, ../../app/stylesheets/styles.sass */
#content .header .add-playlist a {
  border: 0;
}
/* line 220, ../../app/stylesheets/styles.sass */
#content .header .created-at {
  float: left;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #666666;
}
/* line 225, ../../app/stylesheets/styles.sass */
#content .header .member-thumb {
  width: 50px;
  height: 50px;
  border: 1px solid #aaaaaa;
  padding: 5px;
  background: white;
}

/* line 233, ../../app/stylesheets/styles.sass */
#playlists {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 0px;
  width: 410px;
  background-color: white;
  border: 2px solid;
  padding: 5px 5px 0 10px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 250, ../../app/stylesheets/styles.sass */
#playlists ul {
  width: 400px;
}
/* line 252, ../../app/stylesheets/styles.sass */
#playlists #add-playlist-btn {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 256, ../../app/stylesheets/styles.sass */
#playlists #add-playlist-btn a {
  color: white;
  background-color: #0969a2;
  padding: 5px 10px;
  text-decoration: none;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 269, ../../app/stylesheets/styles.sass */
#playlists #add-playlist-btn.on a {
  background-color: #0969a2;
}

/* line 273, ../../app/stylesheets/styles.sass */
#add-to-playlist-menu {
  z-index: 1000;
  width: 350px;
  padding: 5px;
  padding-right: 15px;
  background-color: white;
  border: 1px solid #aaaaaa;
  right: 45px;
}
/* line 281, ../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item {
  border: 0;
  border-bottom: 1px solid #aaaaaa;
}
/* line 284, ../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item.on {
  background-color: white;
}
/* line 286, ../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item:hover {
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  background-color: #f1f2f2;
}
/* line 290, ../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item a {
  border: none;
  background: none;
}
/* line 293, ../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item a .title {
  font-size: 12px;
  color: black;
  margin-top: 15px;
}
/* line 297, ../../app/stylesheets/styles.sass */
#add-to-playlist-menu .playlists li.playlist-item .thumb {
  width: 45px;
  height: 34px;
}

/* line 301, ../../app/stylesheets/styles.sass */
#ajax-loader {
  position: fixed;
  display: none;
  margin-left: -50px;
  width: 120px;
  height: 20px;
  background-color: white;
  padding: 3px 12px;
  top: 0;
  left: 50%;
  z-index: 200;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 320, ../../app/stylesheets/styles.sass */
#ajax-loader .label {
  font-size: 13px;
}
/* line 322, ../../app/stylesheets/styles.sass */
#ajax-loader .loader {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 2px;
  float: left;
  background: url(/images/ajax-loader.gif) no-repeat 0 0;
}

/* line 330, ../../app/stylesheets/styles.sass */
#message-loader {
  position: fixed;
  margin-left: -50px;
  width: 200px;
  height: 20px;
  background-color: white;
  padding: 3px 12px;
  top: 0;
  left: 50%;
  z-index: 200;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 348, ../../app/stylesheets/styles.sass */
#message-loader .label {
  font-size: 13px;
}
/* line 350, ../../app/stylesheets/styles.sass */
#message-loader .loader {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 2px;
  float: left;
  background: url(/images/ajax-loader.gif) no-repeat 0 0;
}

/* line 358, ../../app/stylesheets/styles.sass */
.share {
  float: right;
  margin-left: 20px;
  margin-top: 40px;
}
/* line 362, ../../app/stylesheets/styles.sass */
.share .fb-like, .share .twitter {
  float: left;
}

/* line 365, ../../app/stylesheets/styles.sass */
#comments {
  float: left;
  margin-top: 20px;
}
/* line 368, ../../app/stylesheets/styles.sass */
#comments h2 {
  font-weight: 900;
  margin-bottom: 10px;
}

/* line 373, ../../app/stylesheets/styles.sass */
#suggestions .wrapper-suggestions {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
/* line 377, ../../app/stylesheets/styles.sass */
#suggestions h2 {
  font-weight: 900;
  float: left;
  margin-bottom: 10px;
}
/* line 381, ../../app/stylesheets/styles.sass */
#suggestions ul {
  float: left;
  width: 100%;
  border: 1px solid black;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
/* line 393, ../../app/stylesheets/styles.sass */
#suggestions li {
  margin: 5px;
  border: 1px solid #aaaaaa;
  float: left;
  width: 222px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
/* line 406, ../../app/stylesheets/styles.sass */
#suggestions li a.info {
  float: left;
  padding: 5px 10px;
  display: block;
}
/* line 410, ../../app/stylesheets/styles.sass */
#suggestions .name {
  font-size: 12px;
  float: left;
  width: 130px;
  margin-left: 10px;
}
/* line 415, ../../app/stylesheets/styles.sass */
#suggestions .thumb {
  float: left;
}
/* line 417, ../../app/stylesheets/styles.sass */
#suggestions .by {
  clear: left;
  font-size: 12px;
  float: left;
  width: 100%;
  padding: 5px 10px;
}
/* line 423, ../../app/stylesheets/styles.sass */
#suggestions .by .label {
  margin-bottom: 2px;
}
/* line 425, ../../app/stylesheets/styles.sass */
#suggestions .by img, #suggestions .by a, #suggestions .by .label {
  float: left;
}
/* line 427, ../../app/stylesheets/styles.sass */
#suggestions .by img {
  clear: left;
}
/* line 429, ../../app/stylesheets/styles.sass */
#suggestions .by a {
  margin-left: 5px;
}
/* line 431, ../../app/stylesheets/styles.sass */
#suggestions .add {
  font-size: 11px;
  clear: left;
  float: right;
  color: blue;
  text-decoration: underline;
  padding: 5px;
}

/* line 440, ../../app/stylesheets/styles.sass */
#change-members-list {
  position: absolute;
  display: none;
  width: 300px;
  border: 1px solid black;
  overflow: hidden;
}
/* line 446, ../../app/stylesheets/styles.sass */
#change-members-list .li {
  border-bottom: 1px solid black;
}

/* line 449, ../../app/stylesheets/styles.sass */
#change-playlists-list {
  display: none;
  width: 300px;
  border: 1px solid black;
}
/* line 453, ../../app/stylesheets/styles.sass */
#change-playlists-list .li {
  border-bottom: 1px solid black;
}

/* line 456, ../../app/stylesheets/styles.sass */
.playlist-title {
  font-size: 20px;
}

/* line 459, ../../app/stylesheets/styles.sass */
.user-title {
  font-size: 16px;
}

/* line 462, ../../app/stylesheets/styles.sass */
.left {
  float: left;
}

/* line 465, ../../app/stylesheets/styles.sass */
.right {
  float: right;
}

/* line 468, ../../app/stylesheets/styles.sass */
.login-form, .sign-up-form {
  display: none;
}

/* line 471, ../../app/stylesheets/styles.sass */
#video-list-tabs {
  width: 960px;
}
/* line 472, ../../app/stylesheets/styles.sass */
#video-list-tabs ul.tab-header li {
  float: left;
  margin: 2px 5px;
  font-size: 18px;
}
/* line 477, ../../app/stylesheets/styles.sass */
#video-list-tabs .video-list-column {
  float: left;
  width: 460px;
}
/* line 480, ../../app/stylesheets/styles.sass */
#video-list-tabs .video-list-column:nth-child(2) {
  margin: 0px 0px 0px 20px;
}

/* line 484, ../../app/stylesheets/styles.sass */
a.browse {
  background: url(/images//hori_large.png) no-repeat;
  display: inline;
  width: 15px;
  height: 15px;
  float: left;
  cursor: pointer;
  font-size: 1px;
  position: relative;
}
/* line 493, ../../app/stylesheets/styles.sass */
a.right {
  margin-top: 5px;
  background-position: 0 -15px;
  clear: right;
  margin-right: 0px;
}
/* line 498, ../../app/stylesheets/styles.sass */
a.right:hover {
  background-position: -15px -15px;
}
/* line 500, ../../app/stylesheets/styles.sass */
a.right:active {
  background-position: -30px -15px;
}
/* line 502, ../../app/stylesheets/styles.sass */
a.left {
  margin-left: 0px;
  margin-top: 5px;
}
/* line 505, ../../app/stylesheets/styles.sass */
a.left:hover {
  background-position: -15px 0;
}
/* line 507, ../../app/stylesheets/styles.sass */
a.left:active {
  background-position: -30px 0;
}

/* line 510, ../../app/stylesheets/styles.sass */
.options-button {
  margin: 0px 0px 0px 10px;
  height: 26px;
}

/* line 514, ../../app/stylesheets/styles.sass */
.options-form, .forgot-password-form {
  display: none;
}

/* line 517, ../../app/stylesheets/styles.sass */
#login-user-playlists {
  margin-left: 100px;
  background-color: black;
  padding: 0 0 5px;
  position: absolute;
  right: -120px;
  top: 30px;
  width: 120px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 533, ../../app/stylesheets/styles.sass */
#login-user-playlists li {
  border-bottom: 1px solid #333333;
}

/* line 536, ../../app/stylesheets/styles.sass */
#user-shared-playlists {
  margin-left: 100px;
  background-color: black;
  padding: 0 0 5px;
  position: absolute;
  right: -120px;
  top: 45px;
  width: 120px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 552, ../../app/stylesheets/styles.sass */
#user-shared-playlists li {
  border-bottom: 1px solid #333333;
}

/* line 556, ../../app/stylesheets/styles.sass */
.my-playlists #login-user-playlists {
  display: none;
}
/* line 558, ../../app/stylesheets/styles.sass */
.my-playlists:hover #login-user-playlists {
  display: block;
}

/* line 562, ../../app/stylesheets/styles.sass */
.my-playlists #user-shared-playlists {
  display: none;
}
/* line 564, ../../app/stylesheets/styles.sass */
.my-playlists:hover #user-shared-playlists {
  display: block;
}

/* line 567, ../../app/stylesheets/styles.sass */
.add-playlist-form, .user-settings-form {
  display: none;
}

/* line 570, ../../app/stylesheets/styles.sass */
.slogan {
  text-align: center;
}

/* line 2, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist a.more-videos {
  padding: 5px 10px;
  background-color: #666666;
  color: white;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  float: left;
  margin-left: 450px;
}
/* line 17, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist ul#ytvideos-list {
  /*  float: left; */
  /*  width: 100%; */
  margin-top: 38px;
  width: 460px;
}
/* line 22, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist ul .cmDiv ul {
  margin: 0px;
  width: 150px;
}
/* line 25, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .cmDiv ul li a {
  background-color: transparent;
}
/* line 27, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .cmDiv ul li a:hover {
  background-color: #aaaaaa;
}
/* line 30, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .actions_menu {
  float: none;
  padding: 0px 0px 10px 0px;
}
/* line 34, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .yt_actions_menu {
  height: 56px;
  width: 95px;
  float: right;
  border: 1px solid black;
  background-color: #eeeeee;
}
/* line 40, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .cmDiv {
  border: none;
  padding: 0px;
}
/* line 44, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .cmDiv ul.clickMenu li.main {
  height: 13px;
  padding: 0px;
  margin-top: -7px;
}
/* line 48, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .cmDiv ul.clickMenu li.main img {
  padding: 0px;
  margin-top: 0px;
}
/* line 51, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .cmDiv ul.clickMenu li.hover {
  /* background-color: #eee */
}
/* line 53, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .yt_actions_menu div {
  float: right;
  height: 13px;
  width: 13px;
}
/* line 58, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .filter-action {
  border: 0;
  float: left;
  width: 32px;
  height: 34px;
  margin: 10px 0px 0px 10px;
  background: url(../images/gtk-close.png) no-repeat;
  text-indent: 9999px;
  overflow: hidden;
  cursor: pointer;
}
/* line 68, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .plus-action {
  display: block;
  border: 0;
  float: right;
  width: 32px;
  height: 34px;
  margin: 10px 10px 0px 0px;
  background: url(../images/gtk-plus.png) no-repeat;
  text-indent: 9999px;
  overflow: hidden;
}
/* line 78, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .plus-more-action {
  /* height: 13px */
  /* width: 13px */
  /* text-indent: 9999px */
  /* overflow: hidden */
}
/* line 85, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item {
  position: relative;
  /*  float: left; */
  overflow: visible;
  width: 459px;
  margin: 5px 0;
  height: 57px;
  border: 1px solid #aaaaaa;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 101, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item.playing {
  border-color: red;
  background-color: #ffc7c7;
}
/* line 104, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item.playing:hover {
  border-color: red;
  background-color: #ffc7c7;
}
/* line 107, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item a {
  background-color: white;
  /*  float: left; */
  width: 95%;
  height: 57px;
}
/* line 112, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item .cmDiv a {
  float: none;
}
/* line 114, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item a:hover {
  background-color: #f1f2f2;
}
/* line 116, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item .thumb {
  float: left;
}
/* line 118, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item .name {
  float: left;
  margin-top: 16px;
  font-size: 12px;
}
/* line 122, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item .close {
  margin-top: 16px;
  font-size: 12px;
}
/* line 125, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item .close:hover {
  text-decoration: underline;
  color: red;
}
/* line 128, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item .name {
  white-space: pre-wrap;
  width: 247px;
  overflow: hidden;
}
/* line 132, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item .close {
  float: right;
  margin-right: 10px;
}
/* line 135, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item .thumb {
  margin-right: 40px;
  width: 60px;
  height: 45px;
}
/* line 139, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item .thumb img {
  border: 0;
}
/* line 141, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#playlist li.video-item a.add-to-playlist {
  display: none;
  padding: 0px 2px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border: 1px solid black;
  font-size: 14px;
  background-color: white;
  position: absolute;
  right: 25px;
  top: 15px;
  width: auto;
}

/* line 160, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #00665e;
  padding: 2px;
  background-color: white;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
/* line 175, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item .title, .playlist-item .thumb {
  float: left;
}
/* line 177, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item .title {
  margin-left: 5px;
  color: #00665e;
  font-size: 14px;
}
/* line 181, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item a.pl-info {
  float: left;
  width: 100%;
}
/* line 184, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item .delete {
  float: right;
  margin-top: 13px;
  font-size: 11px;
  margin-right: 5px;
}
/* line 189, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item .delete:hover {
  color: red;
  font-weight: 900;
}
/* line 192, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item.on, .playlist-item:hover {
  background-color: #61d8a2;
}
/* line 195, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item.on a, .playlist-item.on span {
  color: white;
}
/* line 198, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item:hover a, .playlist-item:hover span {
  color: white;
}
/* line 200, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item.on {
  background-color: #ffb800;
  border-color: #ff6f00;
}
/* line 203, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item.new {
  background-color: white;
  position: relative;
  border: 2px solid #0969a2;
  margin-left: -1px;
}
/* line 208, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item.new input {
  border: 1px solid #0969a2;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  margin-left: 10px;
  width: 145px;
}
/* line 220, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item.new .edit {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
/* line 224, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.playlist-item.new .ok, .playlist-item.new .cancel {
  color: #0969a2;
  text-decoration: underline;
  font-size: 12px;
  float: left;
  padding: 0 5px;
}

/* line 231, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#add-video, #search-yt-video {
  background-color: black;
  padding: 3px;
  float: left;
  margin: 0 0 2px;
  width: 454px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

/* line 246, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#add-video input {
  height: 16px;
  width: 380px;
  margin-right: 10px;
  font-size: 14px;
  float: left;
}

/* line 253, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#search-yt-video input {
  height: 16px;
  width: 346px;
  margin-right: 10px;
  font-size: 14px;
  float: left;
}

/* line 260, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#add-video input.empty, #search-yt-video input.empty {
  font-style: italic;
  color: #cccccc;
}

/* line 264, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
#add-video .add-btn, #search-yt-video .add-btn {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  color: white;
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

/* line 278, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.options-description {
  margin: 10px 0px 0px 0px;
}
/* line 280, /Users/vladimirpenkin/Sites/plist/app/stylesheets/playlist.sass */
.options-description p {
  width: 350px;
}

/* line 2, ../../app/stylesheets/home.sass */
.home .create-playlist {
  font-size: 20px;
  color: white;
  background-color: #666666;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  text-align: center;
  padding: 10px 30px;
  display: block;
  float: left;
  margin-left: 310px;
  margin-top: 20px;
}
/* line 20, ../../app/stylesheets/home.sass */
.home .recent-playlists {
  clear: left;
  float: left;
  width: 100%;
  margin-top: 20px;
}
/* line 25, ../../app/stylesheets/home.sass */
.home .recent-playlists h2 {
  font-weight: 900;
  margin-bottom: 10px;
}
/* line 28, ../../app/stylesheets/home.sass */
.home .recent-playlists li {
  float: left;
  padding: 5px 10px;
  border: 1px solid #aaaaaa;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 420px;
}
/* line 43, ../../app/stylesheets/home.sass */
.home .recent-playlists li .thumb {
  width: 60px;
  height: 45px;
  float: left;
  border: 1px solid #aaaaaa;
}
/* line 48, ../../app/stylesheets/home.sass */
.home .recent-playlists li .thumb a {
  border: 0;
}
/* line 50, ../../app/stylesheets/home.sass */
.home .recent-playlists li .title {
  float: left;
  margin-left: 5px;
  text-decoration: underline;
}
/* line 54, ../../app/stylesheets/home.sass */
.home .recent-playlists li .member {
  float: left;
  clear: left;
  margin-top: 5px;
}
/* line 58, ../../app/stylesheets/home.sass */
.home .recent-playlists li .member .member-thumb {
  width: 30px;
  height: 30px;
  float: left;
}
/* line 62, ../../app/stylesheets/home.sass */
.home .recent-playlists li .member .member-name {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  color: blue;
}
