/* line 1, ../../app/stylesheets/clickmenu-changes.sass */
#ytvideos-list .clickMenu div.inner {
  left: -121px;
  margin: 0;
}

/* line 6, ../../app/stylesheets/clickmenu-changes.sass */
#videos-list .clickMenu div.inner div.outerbox {
  margin: 0px;
  left: 152px;
  top: -3px;
}

/* line 13, ../../app/stylesheets/clickmenu-changes.sass */
#ytvideos-list .clickMenu div.inner div.outerbox {
  margin: 0px;
  left: -158px;
  top: -3px;
}
/* line 18, ../../app/stylesheets/clickmenu-changes.sass */
#ytvideos-list html > body .innerbox {
  margin: 0;
  display: inherit;
}
