.minibutton {
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    padding: 0 0 0 3px;
}
.minibutton, .minibutton.disabled:hover {
    background: -moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;
    border: 1px solid #D4D4D4;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    overflow: visible;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
}
button.minibutton {
    height: 23px;
}
.minibutton.lighter, .minibutton.disabled.lighter:hover {
    background: -moz-linear-gradient(center top , #FAFAFA, #DDDDDD) repeat scroll 0 0 transparent;
    border: medium none;
    color: #333333;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.minibutton.green, .minibutton.disabled.green:hover {
    background: -moz-linear-gradient(center top , #36B825, #28881B) repeat scroll 0 0 transparent;
    border-color: #4A993E;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.minibutton.blue, .minibutton.disabled.blue:hover {
    background: -moz-linear-gradient(center top , #448DA6, #32687B) repeat scroll 0 0 transparent;
    border-color: #275666;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
input[type="text"] + .minibutton {
    margin-left: 5px;
}
button.minibutton::-moz-focus-inner {
    margin: -1px -3px;
}
.minibutton.danger {
    color: #990000;
}
.minibutton.disabled.danger:hover {
    background: -moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;
    border-color: #D4D4D4;
    color: #990000;
}
.minibutton > span {
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0 9px 0 7px;
}
.minibutton:hover {
    background: -moz-linear-gradient(center top , #599BDC, #3072B3) repeat scroll 0 0 transparent;
    border-color: #518CC6 #518CC6 #2A65A0;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.minibutton.mousedown {
    background: -moz-linear-gradient(center top , #3072B3, #599BDC) repeat scroll 0 0 transparent;
    border-color: #2A65A0 #2A65A0 #518CC6;
}
.minibutton.danger:hover {
    background: -moz-linear-gradient(center top , #DC5F59, #B33630) repeat scroll 0 0 transparent;
    border-color: #C65651 #C65651 #A0302A;
}
.minibutton.danger.mousedown {
    background: -moz-linear-gradient(center top , #B33630, #DC5F59) repeat scroll 0 0 transparent;
    border-color: #A0302A #A0302A #C65651;
}
.minibutton.disabled, .minibutton.disabled:hover {
    cursor: default;
    opacity: 0.5;
}
.minibutton.selected, .context-menu-container.active .context-menu-button {
    background: -moz-linear-gradient(center top , #767676, #9E9E9E) repeat scroll 0 0 transparent;
    border-color: #686868;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}      

.btn-admin .icon, .btn-watch .icon, .btn-download .icon, .btn-pull-request .icon, .btn-fork .icon, .btn-leave .icon, .btn-compare .icon, .btn-reply .icon, .btn-back .icon, .btn-forward .icon {
    background: url("../images/modules/buttons/minibutton_icons.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    margin-left: -4px;
    position: relative;
    top: -1px;
    width: 18px;
}
.btn-forward .icon {
    float: right;
    margin-left: 0;
    margin-right: -4px;
}
.btn-admin .icon {
    background-position: 0 0;
    width: 16px;
}
.btn-admin:hover .icon {
    background-position: 0 -25px;
}
.btn-watch .icon {
    background-position: -20px 0;
}
.btn-watch:hover .icon {
    background-position: -20px -25px;
}
.btn-download .icon {
    background-position: -40px 0;
}
.btn-download:hover .icon {
    background-position: -40px -25px;
}
.btn-pull-request .icon {
    background-position: -60px 0;
    width: 17px;
}
.btn-pull-request:hover .icon {
    background-position: -60px -25px;
}
.btn-fork .icon {
    background-position: -80px 0;
    width: 17px;
}
.btn-fork:hover .icon {
    background-position: -80px -25px;
}
.btn-leave .icon {
    background-position: -120px 0;
    width: 15px;
}
.btn-leave:hover .icon {
    background-position: -120px -25px;
}
.btn-compare .icon {
    background-position: -100px 0;
    width: 17px;
}
.btn-compare:hover .icon {
    background-position: -100px -25px;
}
.btn-reply .icon {
    background-position: -140px 0;
    width: 16px;
}
.btn-reply:hover .icon {
    background-position: -140px -25px;
}
.btn-back .icon {
    background-position: -160px 0;
    width: 16px;
}
.btn-back:hover .icon {
    background-position: -160px -25px;
}
.btn-forward .icon {
    background-position: -180px 0;
    width: 16px;
}
.btn-forward:hover .icon {
    background-position: -180px -25px;
}
.minibutton.switcher > span {
    background: url("../images/modules/buttons/switcher.png") no-repeat scroll 100% 0 transparent;
    padding-right: 26px;
}
.minibutton.switcher:hover > span, .minibutton.switcher.selected > span, .context-menu-container.active .minibutton.switcher > span {
    background-position: 100% -30px;
}