/* line 2, ../../app/stylesheets/playlist.sass */
#playlist a.more-videos {
  padding: 5px 10px;
  background-color: #666666;
  color: white;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  float: left;
  margin-left: 450px;
}
/* line 17, ../../app/stylesheets/playlist.sass */
#playlist ul#ytvideos-list {
  /*  float: left; */
  /*  width: 100%; */
  margin-top: 38px;
  width: 460px;
}
/* line 22, ../../app/stylesheets/playlist.sass */
#playlist ul .cmDiv ul {
  margin: 0px;
  width: 150px;
}
/* line 25, ../../app/stylesheets/playlist.sass */
#playlist .cmDiv ul li a {
  background-color: transparent;
}
/* line 27, ../../app/stylesheets/playlist.sass */
#playlist .cmDiv ul li a:hover {
  background-color: #aaaaaa;
}
/* line 30, ../../app/stylesheets/playlist.sass */
#playlist .actions_menu {
  float: none;
  padding: 0px 0px 10px 0px;
}
/* line 34, ../../app/stylesheets/playlist.sass */
#playlist .yt_actions_menu {
  height: 56px;
  width: 95px;
  float: right;
  border: 1px solid black;
  background-color: #eeeeee;
}
/* line 40, ../../app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .cmDiv {
  border: none;
  padding: 0px;
}
/* line 44, ../../app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .cmDiv ul.clickMenu li.main {
  height: 13px;
  padding: 0px;
  margin-top: -7px;
}
/* line 48, ../../app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .cmDiv ul.clickMenu li.main img {
  padding: 0px;
  margin-top: 0px;
}
/* line 51, ../../app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .cmDiv ul.clickMenu li.hover {
  /* background-color: #eee */
}
/* line 53, ../../app/stylesheets/playlist.sass */
#playlist .yt_actions_menu div {
  float: right;
  height: 13px;
  width: 13px;
}
/* line 58, ../../app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .filter-action {
  border: 0;
  float: left;
  width: 32px;
  height: 34px;
  margin: 10px 0px 0px 10px;
  background: url(../images/gtk-close.png) no-repeat;
  text-indent: 9999px;
  overflow: hidden;
  cursor: pointer;
}
/* line 68, ../../app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .plus-action {
  display: block;
  border: 0;
  float: right;
  width: 32px;
  height: 34px;
  margin: 10px 10px 0px 0px;
  background: url(../images/gtk-plus.png) no-repeat;
  text-indent: 9999px;
  overflow: hidden;
}
/* line 78, ../../app/stylesheets/playlist.sass */
#playlist .yt_actions_menu .plus-more-action {
  /* height: 13px */
  /* width: 13px */
  /* text-indent: 9999px */
  /* overflow: hidden */
}
/* line 85, ../../app/stylesheets/playlist.sass */
#playlist li.video-item {
  position: relative;
  /*  float: left; */
  overflow: visible;
  width: 459px;
  margin: 5px 0;
  height: 57px;
  border: 1px solid #aaaaaa;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 101, ../../app/stylesheets/playlist.sass */
#playlist li.video-item.playing {
  border-color: red;
  background-color: #ffc7c7;
}
/* line 104, ../../app/stylesheets/playlist.sass */
#playlist li.video-item.playing:hover {
  border-color: red;
  background-color: #ffc7c7;
}
/* line 107, ../../app/stylesheets/playlist.sass */
#playlist li.video-item a {
  background-color: white;
  /*  float: left; */
  width: 95%;
  height: 57px;
}
/* line 112, ../../app/stylesheets/playlist.sass */
#playlist li.video-item .cmDiv a {
  float: none;
}
/* line 114, ../../app/stylesheets/playlist.sass */
#playlist li.video-item a:hover {
  background-color: #f1f2f2;
}
/* line 116, ../../app/stylesheets/playlist.sass */
#playlist li.video-item .thumb {
  float: left;
}
/* line 118, ../../app/stylesheets/playlist.sass */
#playlist li.video-item .name {
  float: left;
  margin-top: 16px;
  font-size: 12px;
}
/* line 122, ../../app/stylesheets/playlist.sass */
#playlist li.video-item .close {
  margin-top: 16px;
  font-size: 12px;
}
/* line 125, ../../app/stylesheets/playlist.sass */
#playlist li.video-item .close:hover {
  text-decoration: underline;
  color: red;
}
/* line 128, ../../app/stylesheets/playlist.sass */
#playlist li.video-item .name {
  white-space: pre-wrap;
  width: 247px;
  overflow: hidden;
}
/* line 132, ../../app/stylesheets/playlist.sass */
#playlist li.video-item .close {
  float: right;
  margin-right: 10px;
}
/* line 135, ../../app/stylesheets/playlist.sass */
#playlist li.video-item .thumb {
  margin-right: 40px;
  width: 60px;
  height: 45px;
}
/* line 139, ../../app/stylesheets/playlist.sass */
#playlist li.video-item .thumb img {
  border: 0;
}
/* line 141, ../../app/stylesheets/playlist.sass */
#playlist li.video-item a.add-to-playlist {
  display: none;
  padding: 0px 2px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border: 1px solid black;
  font-size: 14px;
  background-color: white;
  position: absolute;
  right: 25px;
  top: 15px;
  width: auto;
}

/* line 160, ../../app/stylesheets/playlist.sass */
.playlist-item {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #00665e;
  padding: 2px;
  background-color: white;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
/* line 175, ../../app/stylesheets/playlist.sass */
.playlist-item .title, .playlist-item .thumb {
  float: left;
}
/* line 177, ../../app/stylesheets/playlist.sass */
.playlist-item .title {
  margin-left: 5px;
  color: #00665e;
  font-size: 14px;
}
/* line 181, ../../app/stylesheets/playlist.sass */
.playlist-item a.pl-info {
  float: left;
  width: 100%;
}
/* line 184, ../../app/stylesheets/playlist.sass */
.playlist-item .delete {
  float: right;
  margin-top: 13px;
  font-size: 11px;
  margin-right: 5px;
}
/* line 189, ../../app/stylesheets/playlist.sass */
.playlist-item .delete:hover {
  color: red;
  font-weight: 900;
}
/* line 192, ../../app/stylesheets/playlist.sass */
.playlist-item.on, .playlist-item:hover {
  background-color: #61d8a2;
}
/* line 195, ../../app/stylesheets/playlist.sass */
.playlist-item.on a, .playlist-item.on span {
  color: white;
}
/* line 198, ../../app/stylesheets/playlist.sass */
.playlist-item:hover a, .playlist-item:hover span {
  color: white;
}
/* line 200, ../../app/stylesheets/playlist.sass */
.playlist-item.on {
  background-color: #ffb800;
  border-color: #ff6f00;
}
/* line 203, ../../app/stylesheets/playlist.sass */
.playlist-item.new {
  background-color: white;
  position: relative;
  border: 2px solid #0969a2;
  margin-left: -1px;
}
/* line 208, ../../app/stylesheets/playlist.sass */
.playlist-item.new input {
  border: 1px solid #0969a2;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  margin-left: 10px;
  width: 145px;
}
/* line 220, ../../app/stylesheets/playlist.sass */
.playlist-item.new .edit {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
/* line 224, ../../app/stylesheets/playlist.sass */
.playlist-item.new .ok, .playlist-item.new .cancel {
  color: #0969a2;
  text-decoration: underline;
  font-size: 12px;
  float: left;
  padding: 0 5px;
}

/* line 231, ../../app/stylesheets/playlist.sass */
#add-video, #search-yt-video {
  background-color: black;
  padding: 3px;
  float: left;
  margin: 0 0 2px;
  width: 454px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

/* line 246, ../../app/stylesheets/playlist.sass */
#add-video input {
  height: 16px;
  width: 380px;
  margin-right: 10px;
  font-size: 14px;
  float: left;
}

/* line 253, ../../app/stylesheets/playlist.sass */
#search-yt-video input {
  height: 16px;
  width: 346px;
  margin-right: 10px;
  font-size: 14px;
  float: left;
}

/* line 260, ../../app/stylesheets/playlist.sass */
#add-video input.empty, #search-yt-video input.empty {
  font-style: italic;
  color: #cccccc;
}

/* line 264, ../../app/stylesheets/playlist.sass */
#add-video .add-btn, #search-yt-video .add-btn {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  color: white;
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

/* line 278, ../../app/stylesheets/playlist.sass */
.options-description {
  margin: 10px 0px 0px 0px;
}
/* line 280, ../../app/stylesheets/playlist.sass */
.options-description p {
  width: 350px;
}


