/* line 1, ../../app/stylesheets/plugins/clickmenu.sass */
div.cmDiv {
  border: 1px solid black;
  background-color: #eeeeee;
  float: right;
  width: 20px;
  padding: 0px 13px 0px 0px;
}

/* line 8, ../../app/stylesheets/plugins/clickmenu.sass */
.yt_actions_menu div.cmDiv {
  height: 55px;
}

/* line 11, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu {
  margin: 0;
  padding: 0;
  cursor: default;
  list-style: none;
}
/* line 16, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu ul {
  list-style: none;
  margin: 0;
  padding: 2px;
  border: 1px solid black;
  background-color: #eeeeee;
  min-width: 150px;
  /* ie doesnt know this :/ */
}
/* line 27, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu div.outerbox {
  display: none;
  min-width: 106px;
  /* firefox produces animation-flickering when the box is bigger than this :/ */
}
/* line 31, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu div.inner {
  left: 0;
  margin: 0;
}
/* line 35, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu div.inner div.outerbox {
  margin: 0;
  left: 98px;
  top: -3px;
}
/* line 40, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu li {
  position: relative;
  padding: 0 20px 0 2px;
  /*white-space: nowrap; does not really work in ie */
}
/* line 44, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu li.main {
  float: left;
  padding: 0 10px;
  background-color: #eeeeee;
  width: 13px;
}
/* line 50, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu li.main li {
  z-index: 2;
  min-width: 78px;
}
/* line 53, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu li.hover {
  z-index: 1 !important;
  /* the hover z-index has to be below the normal one the hovering items may be drawn over a submenu */
  background-color: #aaaaaa;
}
/* line 57, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu img.liArrow {
  position: absolute;
  right: 5px;
  top: 0.41em;
}
/* line 61, ../../app/stylesheets/plugins/clickmenu.sass */
.clickMenu a {
  text-decoration: none;
  color: black;
  cursor: default;
}

/* thats for the shadowbox */
/* line 70, ../../app/stylesheets/plugins/clickmenu.sass */
html > body div.outerbox {
  padding: 0 5px 5px 0;
}
/* line 72, ../../app/stylesheets/plugins/clickmenu.sass */
html > body div.shadowbox1 {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 5px;
  height: 100%;
  background: url(myshadow.png) no-repeat right top;
}
/* line 79, ../../app/stylesheets/plugins/clickmenu.sass */
html > body div.shadowbox2 {
  position: absolute;
  bottom: 0;
  right: 5px;
  height: 5px;
  width: 100%;
  background: url(myshadow.png) left bottom;
}
/* line 86, ../../app/stylesheets/plugins/clickmenu.sass */
html > body div.shadowbox3 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 5px;
  width: 5px;
  background: url(myshadow.png) no-repeat right bottom;
}
/* line 93, ../../app/stylesheets/plugins/clickmenu.sass */
html > body .innerbox {
  margin: 0;
  display: inherit;
}

/** Fallr v1.0.4 - jQuery Plugin
 ** Simple & elegant modal box jQuery plugin
 **
 ** Copyright 2011 amatyr4n
 ** http://codecanyon.net/user/amatyr4n
 **
 ** licensed under Envato licenses
 ** http://wiki.envato.com/support/legal-terms/licensing-terms/ */
/* line 11, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: #333333;
  height: 100%;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 23, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  color: #555555;
  text-shadow: 1px 1px 1px white;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  overflow: hidden;
  background: #f0f0f0;
  border: 1px solid white;
  box-shadow: 0 0 5px #111111;
  -moz-box-shadow: 0 0 5px #111111;
  -webkit-box-shadow: 0 0 5px #111111;
}
/* line 36, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr-wrapper * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  color: #555555;
  text-shadow: 1px 1px 1px white;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

/* line 57, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr-icon {
  position: absolute;
  top: 35px;
  left: 20px;
  height: 64px;
  width: 64px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* line 66, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr {
  position: relative;
  padding: 40px 20px 20px 72px;
}

/* line 70, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr-buttons {
  position: relative;
  bottom: 0;
  right: 0;
  margin: 15px;
  clear: both;
  display: block;
  text-align: right;
}

/*  Github button style
 *  http://nicolasgallagher.com/lab/css3-github-buttons/ */
/* line 82, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr-wrapper .fallr-button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 4px 15px;
  border: 1px solid #d4d4d4;
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
  cursor: pointer;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 108, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr button, #fallr input[type="submit"] {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 4px 15px;
  border: 1px solid #d4d4d4;
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
  cursor: pointer;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 134, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr-wrapper .fallr-button:hover, #fallr-wrapper .fallr-button:focus {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #3c8dde;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}

/* line 148, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr button:hover, #fallr button:focus {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #3c8dde;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}
/* line 160, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr input[type="submit"]:hover, #fallr input[type="submit"]:focus {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #3c8dde;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}

/* line 172, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr-wrapper .fallr-button.fallr-button-danger {
  color: #990000;
}
/* line 174, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr-wrapper .fallr-button.fallr-button-danger:hover, #fallr-wrapper .fallr-button.fallr-button-danger:focus {
  border-color: #b53f3a;
  border-bottom-color: #a0302a;
  color: white;
  background-color: #dc5f59;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
  background-image: -moz-linear-gradient(#dc5f59, #b33630);
  background-image: -o-linear-gradient(#dc5f59, #b33630);
  background-image: linear-gradient(#dc5f59, #b33630);
}

/* line 185, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr abbr {
  border-bottom: 1px dotted #333333;
}
/* line 187, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr h1, #fallr h2, #fallr h3, #fallr h4, #fallr h5, #fallr h6, #fallr p, #fallr form, #fallr input, #fallr label {
  margin-bottom: 10px;
}
/* line 189, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr h3 {
  font-size: 30px;
  line-height: 45px;
}
/* line 192, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr h4 {
  font-size: 25px;
  line-height: 37px;
}
/* line 195, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr h5 {
  font-size: 20px;
  line-height: 30px;
}
/* line 199, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr input[type="text"], #fallr input[type="password"] {
  background: white;
  border: solid 1px #999999;
  color: #777777;
  padding: 5px;
  width: 97%;
  box-shadow: inset #bbbbbb 0px 0px 5px;
  -moz-box-shadow: inset #bbbbbb 0px 0px 5px;
  -webkit-box-shadow: inset #bbbbbb 0px 0px 5px;
}
/* line 208, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr textarea {
  background: white;
  border: solid 1px #999999;
  color: #777777;
  padding: 5px;
  width: 97%;
  box-shadow: inset #bbbbbb 0px 0px 5px;
  -moz-box-shadow: inset #bbbbbb 0px 0px 5px;
  -webkit-box-shadow: inset #bbbbbb 0px 0px 5px;
}
/* line 217, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr ol li, #fallr ul li, #fallr blockquote, #fallr q {
  margin-left: 20px;
}
/* line 219, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.35em;
  width: 100%;
}
/* line 225, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr th, #fallr td {
  padding: 10px;
}
/* line 227, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
#fallr th {
  background-color: #cecece;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#cecece));
  background-image: -moz-linear-gradient(#ececec, #cecece);
  background-image: -o-linear-gradient(#ececec, #cecece);
  background-image: linear-gradient(#ececec, #cecece);
}

/* custom icons */
/* line 236, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-calendar {
  background: url("/images/fallr/view-pim-calendar.png");
}

/* line 239, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-card {
  background: url("/images/fallr/x-office-contact.png");
}

/* line 242, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-chat {
  background: url("/images/fallr/chat.png");
}

/* line 245, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-check {
  background: url("/images/fallr/task-complete.png");
}

/* line 248, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-config {
  background: url("/images/fallr/configure.png");
}

/* line 251, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-error {
  background: url("/images/fallr/dialog-close.png");
}

/* line 254, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-form {
  background: url("/images/fallr/basket.png");
}

/* line 257, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-help {
  background: url("/images/fallr/help-contents.png");
}

/* line 260, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-info {
  background: url("/images/fallr/dialog-information.png");
}

/* line 263, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-lamp {
  background: url("/images/fallr/help-hint.png");
}

/* line 266, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-mail {
  background: url("/images/fallr/internet-mail.png");
}

/* line 269, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-news {
  background: url("/images/fallr/knewsticker.png");
}

/* line 272, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-photo {
  background: url("/images/fallr/kview.png");
}

/* line 275, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-save {
  background: url("/images/fallr/document-save.png");
}

/* line 278, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-secure {
  background: url("/images/fallr/gpg.png");
}

/* line 281, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-sad {
  background: url("/images/fallr/face-sad.png");
}

/* line 284, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-smile {
  background: url("/images/fallr/face-smile.png");
}

/* line 287, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-trash {
  background: url("/images/fallr/trash-empty.png");
}

/* line 290, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-user {
  background: url("/images/fallr/system-users.png");
}

/* line 293, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-warning {
  background: url("/images/fallr/agt_update_criticals.png");
}

/* line 296, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery-fallr-1.0.sass */
.icon-wizard {
  background: url("/images/fallr/plasmagik.png");
}

/* line 1, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify {
  background-color: black;
  color: white;
  padding: 0.5em;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
  z-index: 1000;
}
/* line 9, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify ul {
  margin: 0;
  padding: 0;
}
/* line 12, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  color: white;
  padding: 10px 10px 10px 55px;
  font-size: 15px;
  border: 0;
  background: no-repeat 15px 5px;
}
/* line 22, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify .ctNotify_handle {
  text-align: left;
  font-size: 11px;
  margin: 5px 0 0 0;
}
/* line 27, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify li.message {
  background-image: url("/images/ctnotify/ok.png");
}
/* line 29, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify li.warning {
  background-image: url("/images/ctnotify/warning.png");
}
/* line 31, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify li.loading {
  background-image: url("/images/ajax-loader2.gif");
}
/* line 33, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify li.error {
  background-image: url("/images/ctnotify/error.png");
  color: red;
}
/* line 36, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify li.error .sticky {
  color: red;
}
/* line 38, /Users/vladimirpenkin/Sites/plist/app/stylesheets/plugins/jquery.ctNotify.sass */
.ctNotify li .sticky {
  color: #4297d7;
}

/* line 1, ../../app/stylesheets/clickmenu-changes.sass */
#ytvideos-list .clickMenu div.inner {
  left: -121px;
  margin: 0;
}

/* line 6, ../../app/stylesheets/clickmenu-changes.sass */
#videos-list .clickMenu div.inner div.outerbox {
  margin: 0px;
  left: 152px;
  top: -3px;
}

/* line 13, ../../app/stylesheets/clickmenu-changes.sass */
#ytvideos-list .clickMenu div.inner div.outerbox {
  margin: 0px;
  left: -158px;
  top: -3px;
}
/* line 18, ../../app/stylesheets/clickmenu-changes.sass */
#ytvideos-list html > body .innerbox {
  margin: 0;
  display: inherit;
}

/* line 2, ../../app/stylesheets/jquery-fallr-changes.sass */
#fallr form #playlist_title {
  width: 222px;
  margin-left: 3px;
}
/* line 5, ../../app/stylesheets/jquery-fallr-changes.sass */
#fallr form .playlist_published_radio {
  margin-left: 39px;
}
/* line 7, ../../app/stylesheets/jquery-fallr-changes.sass */
#fallr form .fallr-red {
  background-image: none;
  background-color: #cc0000;
  text-shadow: none;
  color: white;
}
/* line 12, ../../app/stylesheets/jquery-fallr-changes.sass */
#fallr form .fallr-green {
  background-image: none;
  background-color: #00aa00;
  text-shadow: none;
  color: white;
}
/* line 17, ../../app/stylesheets/jquery-fallr-changes.sass */
#fallr form textarea {
  width: 68%;
  margin-left: 22px;
}
/* line 21, ../../app/stylesheets/jquery-fallr-changes.sass */
#fallr form input[type="file"] {
  background: white;
  border: solid 1px #999999;
  color: #777777;
  padding: 5px;
  width: 90%;
  box-shadow: inset #bbbbbb 0px 0px 5px;
  -moz-box-shadow: inset #bbbbbb 0px 0px 5px;
  -webkit-box-shadow: inset #bbbbbb 0px 0px 5px;
}
/* line 30, ../../app/stylesheets/jquery-fallr-changes.sass */
#fallr form input.invite_field {
  width: 235px;
}

/* line 34, ../../app/stylesheets/jquery-fallr-changes.sass */
#fallr-wrapper .avatar-field {
  padding: 3px 0px 0px 0px;
}

/* line 1, ../../app/stylesheets/minibutton.sass */
.minibutton {
  font-size: 11px;
  font-weight: bold;
  height: 21px;
  padding: 0 0 0 3px;
  background: #ececec;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, center top, center bottom, from(#f4f4f4), to(#ececec));
  background: -moz-linear-gradient(center top, #f4f4f4, #ececec) repeat scroll 0 0 transparent;
  border: 1px solid #d4d4d4;
  border-radius: 3px 3px 3px 3px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  overflow: visible;
  position: relative;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
}
/* line 20, ../../app/stylesheets/minibutton.sass */
.minibutton.disabled:hover {
  background: #ececec;
  /* for non-css3 browsers */
  background: -webkit-gradient(linear, center top, center bottom, from(#f4f4f4), to(#ececec));
  background: -moz-linear-gradient(center top, #f4f4f4, #ececec) repeat scroll 0 0 transparent;
  border: 1px solid #d4d4d4;
  border-radius: 3px 3px 3px 3px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  overflow: visible;
  position: relative;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
}

/* line 36, ../../app/stylesheets/minibutton.sass */
button.minibutton {
  height: 23px;
}

/* line 40, ../../app/stylesheets/minibutton.sass */
.minibutton.lighter, .minibutton.disabled.lighter:hover {
  background: #ececec;
  background: -webkit-gradient(linear, center top, left bottom, from(#fafafa), to(#ececec));
  background: -moz-linear-gradient(center top, #fafafa, #dddddd) repeat scroll 0 0 transparent;
  border: medium none;
  color: #333333;
  text-shadow: 1px 1px 0 white;
}
/* line 47, ../../app/stylesheets/minibutton.sass */
.minibutton.green, .minibutton.disabled.green:hover {
  background: #ececec;
  background: -webkit-gradient(linear, center top, left bottom, from(#36b825), to(#28881b));
  background: -moz-linear-gradient(center top, #36b825, #28881b) repeat scroll 0 0 transparent;
  border-color: #4a993e;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
/* line 54, ../../app/stylesheets/minibutton.sass */
.minibutton.blue, .minibutton.disabled.blue:hover {
  background: #32687b;
  background: -webkit-gradient(linear, center top, left bottom, from(#448da6), to(#32687b));
  background: -moz-linear-gradient(center top, #448da6, #32687b) repeat scroll 0 0 transparent;
  border-color: #275666;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 62, ../../app/stylesheets/minibutton.sass */
input[type="text"] + .minibutton {
  margin-left: 5px;
}

/* line 65, ../../app/stylesheets/minibutton.sass */
button.minibutton::-moz-focus-inner {
  margin: -1px -3px;
}

/* line 69, ../../app/stylesheets/minibutton.sass */
.minibutton.danger {
  color: #990000;
}
/* line 71, ../../app/stylesheets/minibutton.sass */
.minibutton.disabled.danger:hover {
  background: -webkit-gradient(linear, center top, center bottom, from(#f4f4f4), to(#ececec));
  background: -moz-linear-gradient(center top, #f4f4f4, #ececec) repeat scroll 0 0 transparent;
  border-color: #d4d4d4;
  color: #990000;
}
/* line 76, ../../app/stylesheets/minibutton.sass */
.minibutton > span {
  display: block;
  height: 21px;
  line-height: 21px;
  padding: 1px 9px 0 6px;
}
/* line 81, ../../app/stylesheets/minibutton.sass */
.minibutton:hover {
  background: -webkit-gradient(linear, center top, center bottom, from(#599bdc), to(#3072b3));
  background: -moz-linear-gradient(center top, #599bdc, #3072b3) repeat scroll 0 0 transparent;
  border-color: #518cc6 #518cc6 #2a65a0;
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
/* line 88, ../../app/stylesheets/minibutton.sass */
.minibutton.mousedown {
  background: -webkit-gradient(linear, center top, center bottom, from(#3072b3), to(#599bdc));
  background: -moz-linear-gradient(center top, #3072b3, #599bdc) repeat scroll 0 0 transparent;
  border-color: #2a65a0 #2a65a0 #518cc6;
}
/* line 93, ../../app/stylesheets/minibutton.sass */
.minibutton.danger:hover {
  background: -webkit-gradient(linear, center top, center bottom, from(#dc5f59), to(#b33630));
  background: -moz-linear-gradient(center top, #dc5f59, #b33630) repeat scroll 0 0 transparent;
  border-color: #c65651 #c65651 #a0302a;
}
/* line 97, ../../app/stylesheets/minibutton.sass */
.minibutton.danger.mousedown {
  background: -webkit-gradient(linear, center top, center bottom, from(#b33630), to(#dc5f59));
  background: -moz-linear-gradient(center top, #b33630, #dc5f59) repeat scroll 0 0 transparent;
  border-color: #a0302a #a0302a #c65651;
}
/* line 101, ../../app/stylesheets/minibutton.sass */
.minibutton.disabled {
  cursor: default;
  opacity: 0.5;
}
/* line 104, ../../app/stylesheets/minibutton.sass */
.minibutton.disabled:hover {
  cursor: default;
  opacity: 0.5;
}
/* line 107, ../../app/stylesheets/minibutton.sass */
.minibutton.selected {
  background: -webkit-gradient(linear, center top, center bottom, from(#767676), to(#9e9e9e));
  background: -moz-linear-gradient(center top, #767676, #9e9e9e) repeat scroll 0 0 transparent;
  border-color: #686868;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

/* line 114, ../../app/stylesheets/minibutton.sass */
.context-menu-container.active .context-menu-button {
  background: -webkit-gradient(linear, center top, center bottom, from(#767676), to(#9e9e9e));
  background: -moz-linear-gradient(center top, #767676, #9e9e9e) repeat scroll 0 0 transparent;
  border-color: #686868;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

/* line 121, ../../app/stylesheets/minibutton.sass */
.btn-admin .icon, .btn-watch .icon, .btn-download .icon, .btn-pull-request .icon, .btn-fork .icon, .btn-leave .icon, .btn-compare .icon, .btn-reply .icon, .btn-back .icon {
  background: url("../images/modules/buttons/minibutton_icons.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 22px;
  margin-left: -4px;
  position: relative;
  top: -1px;
  width: 18px;
}

/* line 130, ../../app/stylesheets/minibutton.sass */
.btn-forward .icon {
  background: url("../images/modules/buttons/minibutton_icons.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 22px;
  margin-left: -4px;
  position: relative;
  top: -1px;
  width: 18px;
  float: right;
  margin-left: 0;
  margin-right: -4px;
}

/* line 143, ../../app/stylesheets/minibutton.sass */
.btn-admin .icon {
  background-position: 0 0;
  width: 16px;
}
/* line 146, ../../app/stylesheets/minibutton.sass */
.btn-admin:hover .icon {
  background-position: 0 -25px;
}

/* line 150, ../../app/stylesheets/minibutton.sass */
.btn-watch .icon {
  background-position: -20px 0;
}
/* line 152, ../../app/stylesheets/minibutton.sass */
.btn-watch:hover .icon {
  background-position: -20px -25px;
}

/* line 156, ../../app/stylesheets/minibutton.sass */
.btn-download .icon {
  background-position: -40px 0;
}
/* line 158, ../../app/stylesheets/minibutton.sass */
.btn-download:hover .icon {
  background-position: -40px -25px;
}

/* line 162, ../../app/stylesheets/minibutton.sass */
.btn-pull-request .icon {
  background-position: -60px 0;
  width: 17px;
}
/* line 165, ../../app/stylesheets/minibutton.sass */
.btn-pull-request:hover .icon {
  background-position: -60px -25px;
}

/* line 169, ../../app/stylesheets/minibutton.sass */
.btn-fork .icon {
  background-position: -80px 0;
  width: 17px;
}
/* line 172, ../../app/stylesheets/minibutton.sass */
.btn-fork:hover .icon {
  background-position: -80px -25px;
}

/* line 176, ../../app/stylesheets/minibutton.sass */
.btn-leave .icon {
  background-position: -120px 0;
  width: 15px;
}
/* line 179, ../../app/stylesheets/minibutton.sass */
.btn-leave:hover .icon {
  background-position: -120px -25px;
}

/* line 183, ../../app/stylesheets/minibutton.sass */
.btn-compare .icon {
  background-position: -100px 0;
  width: 17px;
}
/* line 186, ../../app/stylesheets/minibutton.sass */
.btn-compare:hover .icon {
  background-position: -100px -25px;
}

/* line 190, ../../app/stylesheets/minibutton.sass */
.btn-reply .icon {
  background-position: -140px 0;
  width: 16px;
}
/* line 193, ../../app/stylesheets/minibutton.sass */
.btn-reply:hover .icon {
  background-position: -140px -25px;
}

/* line 197, ../../app/stylesheets/minibutton.sass */
.btn-back .icon {
  background-position: -160px 0;
  width: 16px;
}
/* line 200, ../../app/stylesheets/minibutton.sass */
.btn-back:hover .icon {
  background-position: -160px -25px;
}

/* line 204, ../../app/stylesheets/minibutton.sass */
.btn-forward .icon {
  background-position: -180px 0;
  width: 16px;
}
/* line 207, ../../app/stylesheets/minibutton.sass */
.btn-forward:hover .icon {
  background-position: -180px -25px;
}

/* line 211, ../../app/stylesheets/minibutton.sass */
.minibutton.switcher > span {
  background: url("../images/modules/buttons/switcher.png") no-repeat scroll 100% 0 transparent;
  padding-right: 26px;
}
/* line 214, ../../app/stylesheets/minibutton.sass */
.minibutton.switcher:hover > span, .minibutton.switcher.selected > span {
  background-position: 100% -30px;
}

/* line 217, ../../app/stylesheets/minibutton.sass */
.context-menu-container.active .minibutton.switcher > span {
  background-position: 100% -30px;
}

/* line 220, ../../app/stylesheets/minibutton.sass */
.options-button {
  top: -4px;
}
