= link_to "Create pList", new_user_playlist_path(@user), :class => 'create-playlist'

.recent-playlists
  %h2 
    #{@user.username} pLists
  - if @user.playlists.size > 0
    %ul
      = render :partial => 'playlists/playlist', :collection => @user.playlists
  - else
    No playlists found