.yt_actions_menu
  = link_to playlist_videos_path(playlist.id, :video => {:yt_url => video.ytid, :is_ytid => '1', :suggest => '1'}, :current_playlist => playlist.id), :remote => true, :method => :post do
    .plus-action