- if video.new_record? && (@shared || myown_playlist)
  = render 'videos/yt_actions', :video => video, playlist: @playlist
- else
  - if current_user && myown_playlist
    = render 'videos/plist_actions', :video => video

/ - if user_signed_in?
/   - if video.new_record?
/     = render 'videos/yt_actions', :video => video, playlist: @playlist
/   - else
/     / = render 'videos/plist_actions', :video => video
/ - else
/   / = render 'videos/suggest_actions', :videos => video, playlist: @playlist