=left_widget
  +corner(6px)
  border: 1px solid #AAA
  padding: 15px 0
  margin-bottom: 10px

body
  margin-top: 0
  font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif

li
  display: block
  a
    text-decoration: none

a
  color: black

h1
  font-size: 30px
h2
  font-size: 20px

.container
  +container

.top-container
  #header
    height: 80px
    border: 1px dashed #aaaaaa
    margin-bottom: 20px
  .logo
    float: left
    a
      color: black
      font-size: 30px
      padding: 20px
  .account
    float: right
    padding: 20px
    a
      float: left
      margin-left: 10px

.main-container
  display: inline
  float: left
  margin-right: 10px
  width: 750px


#main, #right
  min-height: 800px

#main .main-content
  padding: 10px


.filter-youtube-form
  display: none

.clear
  clear: both

.txtPassword
  display: none

.txtConfirmPassword
  display: none

table.featured
  font-size: 12px
  border: 1px solid #e7e7e7
  width: 700px
  td
    padding: 5px 5px
    border-bottom: 1px solid #e7e7e7
  .promote
    background-color: rgba(0, 0, 255, 0.1)