%h1 Watch, create and share video playlists with your friends!                                         
- if user_signed_in?
  = link_to "Create your own playlist", '#', :class => 'create-playlist'
- else
  = link_to "Create your own playlist", new_user_session_path, :class => 'create-playlist'
  
.recent-playlists
  %h2 Specials
  - if @featured_playlists.size > 0
    %ul
      = render :partial => 'playlists/playlist', :collection => @featured_playlists
  - else
    No Special videos for a moment
    
.recent-playlists                 
  %h2 Recent Playlists
  - if @recent_playlists.size > 0
    %ul
      = render :partial => 'playlists/playlist', :collection => @recent_playlists
  - else
    No Recent playlists for a moment