%h1.slogan Music Video Collections, from Passionate Fans.
- if user_signed_in?
  = link_to "Create your own pList", '#', :class => 'create-playlist create-playlist-btn'
- else
  = link_to "Create your own pList", '#', :class => 'create-playlist', :id => "login-to-create"

.recent-playlists
  %h2 Featured pLists
  - if @featured_playlists.size > 0
    %ul
      = render :partial => 'playlists/playlist', :collection => @featured_playlists
  - else
    No Special videos for a moment
