%h1.slogan The Video Jukebox for Content Enthusiasts
- if user_signed_in?
  = link_to "Create your own pList", '#', :class => 'create-playlist create-playlist-btn'
- else
  = link_to "Create your own pList", '#', :class => 'create-playlist', :id => "login-to-create"
  
.recent-playlists
  %h2 Featured pLists
  - if @featured_playlists.size > 0
    %ul
      = render :partial => 'playlists/playlist', :collection => @featured_playlists
  - else
    No Special videos for a moment
    
.recent-playlists                 
  %h2 Recently Created pLists
  - if @recent_playlists.size > 0
    %ul
      = render :partial => 'playlists/playlist', :collection => @recent_playlists
  - else
    No Recent playlists for a moment