#content
  .wrapper-content
    .main
      .wrapper-main
        =render "index/playlist_header"
        =render "index/player"

#layouts{:style=>"display:none;"}
  -if @member
    -@playlists= @member.playlists
    -@editable= false
    #add-to-playlist-menu
      %p Add this video to playlist:
      =render "playlists/list"
    -@editable= true
=content_for(:javascripts) do
  :javascript
    jQuery(document).ready(function($) {
      $("#playlist").playlist();
      calculate_playlist_cycle();
    })

=content_for(:facebook_meta) do
  -if @playlist_member
    %meta{:property=>"og:title", :content=>"#{@playlist.title}"}
    %meta{:property=>"og:type", :content=>"album"}
    %meta{:property=>"og:image", :content=>"#{@playlist.thumb}"}
    %meta{:property=>"og:url", :content=>"#{request.url}"}
    %meta{:property=>"fb:app_id", :content=>"133998703298878"}