#root
  .wrapper
    #player
      #ytapiplayer
        You need Flash player 8+ and JavaScript enabled to view this video.
    %h1.plist-title Homer's Super Playlist
    #add-video
      %input{:type=>"text", :width=>"400", :height=>"30px"}
      %a.add-btn{:href=>"#"} Add
    #playlist