#root
  .top
    %h1.plist-title #{@playlist.title}
    %fb:login-button.fb-login{:autologoutlink=>"true", :perms => "email, user_location, user_birthday"}
  .wrapper
    #player{:playlist => "#{@playlist._id}"}
      .wrapper-player
        #ytapiplayer
          %p{:style=>"display:none;"} You need Flash player 8+ and JavaScript enabled to view this video.
        - if @editable
          #add-video
            %input{:type=>"text", :width=>"400", :height=>"30px"}
            %a.add-btn{:href=>"#"} Add
        #playlist
          = render "index/playlist"
    #right
      .wrapper-right
#fb-root
#left
  #logo
    %h1 pList.tv
  .wrapper-left    
    #playlists
      = render "playlists/list"
      - if @editable
        #add-playlist-btn
          %a{:href=>"#"} New