#root
  .top
    %h1.plist-title Homer's Super Playlist
    %fb:login-button.fb-login{:autologoutlink=>"true"}
  .wrapper
    #player
      .wrapper-player
        #ytapiplayer
          You need Flash player 8+ and JavaScript enabled to view this video.
        #add-video
          %input{:type=>"text", :width=>"400", :height=>"30px"}
          %a.add-btn{:href=>"#"} Add
        #playlist
    #right
      .wrapper-right
#fb-root
#left
  #logo
    %h1 pList.tv
  .wrapper-left    
    #playlists
      = render "playlists/list"
      #add-playlist-btn
        %a{:href=>"#"} New