/*
Syntax error: Undefined mixin 'corner'.
        on line 8 of /Users/santiago/Projects/railsgator/pList.tv/web/app/stylesheets/locate.sass, in `corner'
        from line 8 of /Users/santiago/Projects/railsgator/pList.tv/web/app/stylesheets/locate.sass

3:   border: 2px solid #666
4:   margin: 0 auto
5:   width: 350px
6:   clear: left
7:   background-color: white
8:   +corner(6px)
9:   p
10:     font-size: 25px
11:     margin-bottom: 15px
12:   a
13:     font-weight: bold

Backtrace:
/Users/santiago/Projects/railsgator/pList.tv/web/app/stylesheets/locate.sass:8:in `corner'
/Users/santiago/Projects/railsgator/pList.tv/web/app/stylesheets/locate.sass:8
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/head.rb:14:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Library/Ruby/Gems/1.8/gems/activesupport-3.0.5/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Library/Ruby/Gems/1.8/gems/railties-3.0.5/lib/rails/rack/logger.rb:13:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Library/Ruby/Gems/1.8/gems/activesupport-3.0.5/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.2/lib/rack/lock.rb:11:in `synchronize'
/Library/Ruby/Gems/1.8/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.5/lib/action_dispatch/middleware/static.rb:30:in `call'
/Library/Ruby/Gems/1.8/gems/railties-3.0.5/lib/rails/application.rb:168:in `call'
/Library/Ruby/Gems/1.8/gems/railties-3.0.5/lib/rails/application.rb:77:in `send'
/Library/Ruby/Gems/1.8/gems/railties-3.0.5/lib/rails/application.rb:77:in `method_missing'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:76:in `pre_process'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:74:in `catch'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:74:in `pre_process'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:57:in `process'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/connection.rb:42:in `receive_data'
/Library/Ruby/Gems/1.8/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/Library/Ruby/Gems/1.8/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/backends/base.rb:57:in `start'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/server.rb:156:in `start'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/controllers/controller.rb:80:in `start'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/runner.rb:177:in `send'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/runner.rb:177:in `run_command'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/lib/thin/runner.rb:143:in `run!'
/Library/Ruby/Gems/1.8/gems/thin-1.2.7/bin/thin:6
/usr/bin/thin:19:in `load'
/usr/bin/thin:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'corner'.\A         on line 8 of /Users/santiago/Projects/railsgator/pList.tv/web/app/stylesheets/locate.sass, in `corner'\A         from line 8 of /Users/santiago/Projects/railsgator/pList.tv/web/app/stylesheets/locate.sass\A \A 3:   border: 2px solid #666\A 4:   margin: 0 auto\A 5:   width: 350px\A 6:   clear: left\A 7:   background-color: white\A 8:   +corner(6px)\A 9:   p\A 10:     font-size: 25px\A 11:     margin-bottom: 15px\A 12:   a\A 13:     font-weight: bold"; }
