/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 7, ../../../app/stylesheets/layout.sass */
body {
  margin-top: 0;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}

/* line 11, ../../../app/stylesheets/layout.sass */
li {
  display: block;
}
/* line 13, ../../../app/stylesheets/layout.sass */
li a {
  text-decoration: none;
}

/* line 16, ../../../app/stylesheets/layout.sass */
a {
  color: black;
}

/* line 19, ../../../app/stylesheets/layout.sass */
h1 {
  font-size: 30px;
}

/* line 21, ../../../app/stylesheets/layout.sass */
h2 {
  font-size: 20px;
}

/* line 24, ../../../app/stylesheets/layout.sass */
.container {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 27, ../../../app/stylesheets/layout.sass */
.top-container {
  display: inline;
  float: left;
  margin-right: 0;
  width: 990px;
}
/* line 138, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .top-container {
  overflow-x: hidden;
}
/* line 29, ../../../app/stylesheets/layout.sass */
.top-container #header {
  height: 80px;
  border: 1px dashed #aaaaaa;
  margin-bottom: 20px;
}
/* line 33, ../../../app/stylesheets/layout.sass */
.top-container .logo {
  float: left;
}
/* line 35, ../../../app/stylesheets/layout.sass */
.top-container .logo a {
  color: black;
  font-size: 30px;
  padding: 20px;
}
/* line 39, ../../../app/stylesheets/layout.sass */
.top-container .account {
  float: right;
  padding: 20px;
}
/* line 42, ../../../app/stylesheets/layout.sass */
.top-container .account a {
  float: left;
  margin-left: 10px;
}

/* line 46, ../../../app/stylesheets/layout.sass */
.main-container {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 750px;
}
/* line 138, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main-container {
  overflow-x: hidden;
}

/* line 48, ../../../app/stylesheets/layout.sass */
.right-container {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 138, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .right-container {
  overflow-x: hidden;
}

/* line 51, ../../../app/stylesheets/layout.sass */
#main, #right {
  min-height: 800px;
}

/* line 56, ../../../app/stylesheets/layout.sass */
#main .main-content {
  padding: 10px;
}

/* line 59, ../../../app/stylesheets/layout.sass */
#coupons-counter {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border: 1px solid #aaaaaa;
  padding: 15px 0;
  margin-bottom: 10px;
}
/* line 61, ../../../app/stylesheets/layout.sass */
#coupons-counter .count {
  font-size: 30px;
}
/* line 63, ../../../app/stylesheets/layout.sass */
#coupons-counter p {
  text-align: center;
}

/* line 66, ../../../app/stylesheets/layout.sass */
#email-updates {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border: 1px solid #aaaaaa;
  padding: 15px 0;
  margin-bottom: 10px;
}
/* line 68, ../../../app/stylesheets/layout.sass */
#email-updates a, #email-updates p {
  display: block;
  text-align: center;
}

/* line 72, ../../../app/stylesheets/layout.sass */
#new_mail_update {
  border: 1px solid #aaaaaa;
  background-color: #eeeeee;
}

/* line 76, ../../../app/stylesheets/layout.sass */
#overall-trending {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border: 1px solid #aaaaaa;
  padding: 15px 0;
  margin-bottom: 10px;
}
/* line 78, ../../../app/stylesheets/layout.sass */
#overall-trending .label {
  text-align: center;
}
/* line 80, ../../../app/stylesheets/layout.sass */
#overall-trending li a {
  display: block;
  font-size: 13px;
  padding: 10px;
  text-decoration: underline;
}
/* line 85, ../../../app/stylesheets/layout.sass */
#overall-trending .see-chart-btn {
  float: right;
  margin-top: -10px;
  margin-right: 10px;
  font-size: 13px;
  color: blue;
}

/* line 13, ../../../app/stylesheets/styles.sass */
#player-e {
  margin-left: 40px;
  position: absolute;
  z-index: 0;
}

/* line 20, ../../../app/stylesheets/styles.sass */
.top {
  background-color: black;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* line 27, ../../../app/stylesheets/styles.sass */
.wrapper-top {
  width: 998px;
  margin: 0 auto;
}

/* line 31, ../../../app/stylesheets/styles.sass */
.search {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
}
/* line 35, ../../../app/stylesheets/styles.sass */
.search input {
  border: 0;
  height: 21px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-left: 5px;
  font-size: 13px;
  color: #aaaaaa;
  float: left;
}
/* line 43, ../../../app/stylesheets/styles.sass */
.search a {
  color: white;
  background-color: #aaaaaa;
  padding: 3px 5px;
  font-size: 13px;
  text-decoration: none;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  float: right;
  margin-top: 0px;
  margin-left: 5px;
}

/* line 53, ../../../app/stylesheets/styles.sass */
.account {
  padding: 5px;
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  position: relative;
}
/* line 60, ../../../app/stylesheets/styles.sass */
.account:hover, .account.on {
  background-color: #666666;
}
/* line 62, ../../../app/stylesheets/styles.sass */
.account .member, .account .sign-in {
  color: #aaaaaa;
  font-size: 13px;
  text-decoration: none;
  margin-top: 2px;
}
/* line 67, ../../../app/stylesheets/styles.sass */
.account .member .label, .account .sign-in .label {
  float: left;
}
/* line 69, ../../../app/stylesheets/styles.sass */
.account .member .icon, .account .sign-in .icon {
  width: 9px;
  height: 4px;
  background: url(/images/drop.png) no-repeat -15px -14px;
  margin-left: 4px;
  margin-top: 7px;
  float: right;
}
/* line 76, ../../../app/stylesheets/styles.sass */
.account .member:hover, .account .sign-in:hover {
  text-decoration: underline;
}
/* line 78, ../../../app/stylesheets/styles.sass */
.account .fb-login, .account .img, .account .member {
  float: right;
}
/* line 80, ../../../app/stylesheets/styles.sass */
.account .img {
  margin-right: 5px;
}
/* line 82, ../../../app/stylesheets/styles.sass */
.account .dropdown {
  background-color: black;
  height: 40px;
  position: absolute;
  right: -8px;
  top: 35px;
  width: 120px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 90, ../../../app/stylesheets/styles.sass */
.account .dropdown a {
  color: #aaaaaa;
  font-size: 13px;
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  text-decoration: none;
}

/* line 97, ../../../app/stylesheets/styles.sass */
#logo {
  color: white;
  float: left;
}

/* line 104, ../../../app/stylesheets/styles.sass */
#left {
  width: 284px;
  margin-right: 10px;
  float: left;
}

/* line 112, ../../../app/stylesheets/styles.sass */
#content {
  width: 998px;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 116, ../../../app/stylesheets/styles.sass */
#content .wrapper-content {
  float: left;
  margin-bottom: 50px;
}
/* line 119, ../../../app/stylesheets/styles.sass */
#content .wrapper-main {
  padding: 0 30px;
}
/* line 121, ../../../app/stylesheets/styles.sass */
#content .header {
  float: left;
  padding: 10px 0;
}
/* line 124, ../../../app/stylesheets/styles.sass */
#content .header h1 {
  font-family: "league-gothic-1", "league-gothic-2", sans-serif;
  font-size: 25px;
  font-weight: 900;
  float: left;
}
/* line 129, ../../../app/stylesheets/styles.sass */
#content .header .member-thumb, #content .header .info {
  float: left;
}
/* line 131, ../../../app/stylesheets/styles.sass */
#content .header .info {
  margin-left: 10px;
  font-size: 13px;
  color: #666666;
  position: relative;
  width: 500px;
}
/* line 137, ../../../app/stylesheets/styles.sass */
#content .header .by {
  float: left;
  clear: left;
}
/* line 140, ../../../app/stylesheets/styles.sass */
#content .header .by a {
  color: #5151e8;
  font-weight: 900;
  text-decoration: none;
}
/* line 144, ../../../app/stylesheets/styles.sass */
#content .header .manage {
  float: left;
}
/* line 146, ../../../app/stylesheets/styles.sass */
#content .header .manage a {
  border-right: 1px solid #aaaaaa;
  margin-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
/* line 151, ../../../app/stylesheets/styles.sass */
#content .header .manage a.add {
  border: 0;
}
/* line 153, ../../../app/stylesheets/styles.sass */
#content .header .manage a.show.on {
  border: 0;
  padding: 5px 10px;
  color: white;
  background: #666666;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  float: left;
}
/* line 160, ../../../app/stylesheets/styles.sass */
#content .header .created-at {
  float: left;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #666666;
}
/* line 165, ../../../app/stylesheets/styles.sass */
#content .header .member-thumb {
  width: 50px;
  height: 50px;
  border: 1px solid #aaaaaa;
  padding: 5px;
  background: white;
}

/* line 172, ../../../app/stylesheets/styles.sass */
#playlist a.more-videos {
  padding: 5px 10px;
  background-color: #666666;
  color: white;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  float: left;
  margin-left: 450px;
}
/* line 179, ../../../app/stylesheets/styles.sass */
#playlist ul {
  float: left;
  width: 100%;
}
/* line 183, ../../../app/stylesheets/styles.sass */
#playlist li {
  float: left;
  width: 100%;
  margin: 5px 0;
}
/* line 185, ../../../app/stylesheets/styles.sass */
#playlist li.playing a, #playlist li.playing a:hover {
  border-color: red;
  background-color: #ffc7c7;
}
/* line 192, ../../../app/stylesheets/styles.sass */
#playlist li a {
  background-color: white;
  float: left;
  width: 100%;
  border: 1px solid #aaaaaa;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 193, ../../../app/stylesheets/styles.sass */
#playlist li a:hover {
  background-color: #f1f2f2;
}
/* line 200, ../../../app/stylesheets/styles.sass */
#playlist li .thumb, #playlist li .name {
  float: left;
}
/* line 202, ../../../app/stylesheets/styles.sass */
#playlist li .name, #playlist li .close {
  margin-top: 16px;
  font-size: 12px;
}
/* line 205, ../../../app/stylesheets/styles.sass */
#playlist li .close:hover {
  text-decoration: underline;
  color: red;
}
/* line 208, ../../../app/stylesheets/styles.sass */
#playlist li .name {
  white-space: nowrap;
  overflow: hidden;
}
/* line 211, ../../../app/stylesheets/styles.sass */
#playlist li .close {
  float: right;
  margin-right: 10px;
}
/* line 214, ../../../app/stylesheets/styles.sass */
#playlist li .thumb {
  margin-right: 10px;
  width: 60px;
  height: 45px;
}
/* line 219, ../../../app/stylesheets/styles.sass */
#playlist li .thumb img {
  border: 0;
}

/* line 222, ../../../app/stylesheets/styles.sass */
.playlist-item {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #00665e;
  padding: 2px;
  background-color: white;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
/* line 230, ../../../app/stylesheets/styles.sass */
.playlist-item .title, .playlist-item .thumb {
  float: left;
}
/* line 232, ../../../app/stylesheets/styles.sass */
.playlist-item .title {
  margin-left: 5px;
  color: #00665e;
  font-size: 14px;
}
/* line 237, ../../../app/stylesheets/styles.sass */
.playlist-item a.pl-info {
  float: left;
  width: 100%;
}
/* line 240, ../../../app/stylesheets/styles.sass */
.playlist-item .delete {
  float: right;
  margin-top: 13px;
  font-size: 11px;
  margin-right: 5px;
}
/* line 245, ../../../app/stylesheets/styles.sass */
.playlist-item .delete:hover {
  color: red;
  font-weight: 900;
}
/* line 248, ../../../app/stylesheets/styles.sass */
.playlist-item.on, .playlist-item:hover {
  background-color: #61d8a2;
}
/* line 250, ../../../app/stylesheets/styles.sass */
.playlist-item.on a, .playlist-item.on span, .playlist-item:hover a, .playlist-item:hover span {
  color: white;
}
/* line 252, ../../../app/stylesheets/styles.sass */
.playlist-item.on {
  background-color: #ffb800;
  border-color: #ff6f00;
}
/* line 256, ../../../app/stylesheets/styles.sass */
.playlist-item.new {
  background-color: white;
  position: relative;
  border: 2px solid #0969a2;
  margin-left: -1px;
}
/* line 261, ../../../app/stylesheets/styles.sass */
.playlist-item.new input {
  border: 1px solid #0969a2;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  margin-left: 10px;
  width: 145px;
}
/* line 266, ../../../app/stylesheets/styles.sass */
.playlist-item.new .edit {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
/* line 270, ../../../app/stylesheets/styles.sass */
.playlist-item.new .ok, .playlist-item.new .cancel {
  color: #0969a2;
  text-decoration: underline;
  font-size: 12px;
  float: left;
  padding: 0 5px;
}

/* line 276, ../../../app/stylesheets/styles.sass */
#playlists {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 0px;
  width: 410px;
  background-color: white;
  border: 2px solid;
  padding: 5px 5px 0 10px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 286, ../../../app/stylesheets/styles.sass */
#playlists ul {
  width: 400px;
}
/* line 289, ../../../app/stylesheets/styles.sass */
#playlists #add-playlist-btn {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 293, ../../../app/stylesheets/styles.sass */
#playlists #add-playlist-btn a {
  color: white;
  background-color: #0969a2;
  padding: 5px 10px;
  text-decoration: none;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 300, ../../../app/stylesheets/styles.sass */
#playlists #add-playlist-btn.on a {
  background-color: #0969a2;
}

/* line 302, ../../../app/stylesheets/styles.sass */
#add-video {
  background-color: black;
  padding: 3px;
  float: left;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 307, ../../../app/stylesheets/styles.sass */
#add-video input {
  height: 16px;
  width: 560px;
  margin-right: 10px;
  font-size: 14px;
  float: left;
}
/* line 314, ../../../app/stylesheets/styles.sass */
#add-video input.empty {
  font-style: italic;
  color: #cccccc;
}
/* line 317, ../../../app/stylesheets/styles.sass */
#add-video .add-btn {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  color: white;
  float: right;
  margin-top: 2px;
  margin-right: 10px;
}

/* line 324, ../../../app/stylesheets/styles.sass */
#ajax-loader {
  position: fixed;
  display: none;
  margin-left: -50px;
  width: 120px;
  height: 20px;
  background-color: white;
  padding: 3px 12px;
  top: 0;
  left: 50%;
  z-index: 200;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
/* line 336, ../../../app/stylesheets/styles.sass */
#ajax-loader .label {
  font-size: 13px;
}
/* line 338, ../../../app/stylesheets/styles.sass */
#ajax-loader .loader {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 2px;
  float: left;
  background: url(/images/ajax-loader.gif) no-repeat 0 0;
}

/* line 346, ../../../app/stylesheets/styles.sass */
.share {
  float: right;
  margin-left: 20px;
  margin-top: 40px;
}
/* line 350, ../../../app/stylesheets/styles.sass */
.share .fb-like, .share .twitter {
  float: left;
}

/* line 353, ../../../app/stylesheets/styles.sass */
#comments {
  float: left;
  margin-top: 20px;
}
