#content
  .wrapper-content
    .main
      .wrapper-main
        %b Current play sessions:
        %ul
          - @plays.each do |play|
            %li
              = play.playlist.title
              = surround '(', ')' do
                by
                = play.member
              = link_to 'Connect', connect_remote_path(play.id)