.video-list-column
  - if user_signed_in? && myown_playlist
    .right
      %a.options-button.minibutton
        %span#filter-btn Filter
    %h2 Search Youtube
    = render 'playlists/search_youtube_form'
    %ul#ytvideos-list
      / = render :partial => 'videos/video', :collection => Youtube.top_rated
  - else
    %h2
      - if user_signed_in?
        = link_to "Create your own pList", '#', :class => ' create-playlist-btn'
      - else
        = link_to "Create your own pList", '#', :class => '', :id => "login-to-create"