.left
  %a(href="https://twitter.com/share" class="twitter-share-button" data-text="#{@playlist.user.name}'s » #{@playlist.title}, #{@playlist.description}" data-count="horizontal" data-via="plisttv") Tweet
%script(type="text/javascript" src="//platform.twitter.com/widgets.js")

:plain
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-like" data-href="http://plist.tv#{request.request_uri}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
%br
