- if user_signed_in? && current_user.id == @user.id
  = link_to "Create new pList", '#', :class => 'create-playlist create-playlist-btn'

.recent-playlists
  %h2 
    Your playlists
    = @user.playlists.count
  - if @user.playlists.size > 0
    %ul
      = render :partial => 'playlists/playlist', :collection => @user.playlists
  - else
    No playlists found