:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26025407-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

/= javascript_include_tag "//asset0.zendesk.com/external/zenbox/v2.1/zenbox.js"


%style(type="text/css" media="screen, projection")
  @import url(//asset0.zendesk.com/external/zenbox/v2.1/zenbox.css);

:javascript
  / if (typeof(Zenbox) !== "undefined") {
  /   Zenbox.init({
  /     dropboxID:   "20023298",
  /     url:         "https://scalablepath.zendesk.com",
  /     tabID:       "support",
  /     tabColor:    "black",
  /     tabPosition: "Left"
  /   });
  / }
